<div class="dark-theme pb-1">
  <section>
    <div class="container container--small">
      <h2>Философия бренда</h2>
      <p class="big">Персональный бренд, целиком построенный на личности основателя. Философия, нейминг и визуальный стиль для женской студии фитнеса без компромиссов. Думаешь что 35 минут для тренировки это мало? Мало не покажется! </p>
    </div>
  </section>

  <section>
    <div class="container container--down-md-align-right">
      <div class="row no-gutters">
        <div class="col-12"><img src="/cases/xlnt/img1.jpg" alt=""></div>
        <div class="col-12"><img src="/cases/xlnt/img2.jpg" alt=""></div>
      </div>
    </div>
  </section>

  <section>
    <div class="container container--small">
      <h2>Больше чем кажется</h2>
      <p>Xlnt — не просто долгожданные слова тренера в конце изнуряещего упражнения. 4 буквы — это 4 лаконичные главы философии бренда.</p>
    </div>
  </section>

  <section>
    <div class="container container--down-md-align-right">
      <div class="row no-gutters">
        <div class="col-md-6"><img src="/cases/xlnt/img3.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img4.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img5.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img6.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img7.jpg" alt=""></div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <img src="/cases/xlnt/img8.jpg" alt="" class="w-100">
    </div>
  </section>

  <section>
    <div class="container container--small">
      <h2>Носители бренда</h2>
      <p>Для нас содержание важнее обложки. Минималистичный стиль и эмоциональный медиа-контент позволяют сконцентрировать внимание на людях и передать настроение бренда.</p>
    </div>
  </section>

  <section>
    <div class="container container--down-md-align-right">
      <div class="row no-gutters">
        <div class="col-md-12"><img src="/cases/xlnt/img8.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img9.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img10.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img11.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img12.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img13.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img14.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img15.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img16.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img17.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img18.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img19.jpg" alt=""></div>
        <div class="col-md-6"><img src="/cases/xlnt/img20.jpg" alt=""></div>
        <div class="col-md-12"><img src="/cases/xlnt/img21.jpg" alt=""></div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <img src="/cases/xlnt/img22.jpg" alt="" class="w-100">
    </div>
  </section>

  <section>
    <div class="container container--small">
      <h2>Одежда. Еда. Косметика.</h2>
      <p>Мы выходим за пределы нашего зала. Коллекция компрессионной женской одежды и коллобрации со спортивными брендами. Линия натуральной косметики для лица и тела. Быстрое и полезное спорт питание для тех, то живет в ритме XLNT.</p>
    </div>
  </section>

  <section>
    <div class="container container--down-md-align-right">
      <div class="row no-gutters">
        <div class="col-12"><img src="/cases/xlnt/img23.jpg" alt=""></div>
        <div class="col-12"><img src="/cases/xlnt/img24.jpg" alt=""></div>
      </div>
    </div>
  </section>

  <section>
    <div class="container container--small">
      <h2>Интерьер</h2>
      <p>Типографика, неоновые вывески и строгие цвета легли в основу концепций интереьера, для проведения косметического ремонта.</p>
    </div>
  </section>

  <section>
    <div class="container container--down-md-align-right">
      <div class="row no-gutters">
        <div class="col-md-12"><img class="w-100" src="/cases/xlnt/img25.jpg" alt=""></div>
        <div class="col-md-4"><img class="w-100" src="/cases/xlnt/img26.jpg" alt=""></div>
        <div class="col-md-4"><img class="w-100" src="/cases/xlnt/img27.jpg" alt=""></div>
        <div class="col-md-4"><img class="w-100" src="/cases/xlnt/img28.jpg" alt=""></div>
      </div>
    </div>
  </section>
</div>

