<template>
  <div class="customers">
    <div class="customers_content container container--down-md-align-right">
      <div class="customers__title">
        <h3 class="h3">{{ customers.title }}<br/><span>{{customers.subtitle}}</span></h3>
      </div>
      <div class="customers__body">
        <div class="customers__item" v-show="!small" v-for="(customer, index) in customers.partner" :key="index + customer.logo">
            <img :src="customer.logo" :alt="customer.title_alt" />
        </div>
        <client-only>
          <div class="" v-if="small" v-swiper:customerSwiper="custometSwiperOption">
            <div class="swiper-wrapper">
              <div class="swiper-slide customers__item-swiper" v-for="(customer, index) in customers.partner" :key="index + 4 + customer.logo">
                <div class="customers__img-wrap">
                  <img cls :src="customer.logo" :alt="customer.title_alt" />
                </div>
              </div>
            </div>
          </div>
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutCustomers',
  props: {
    customers: {
      type: Object,
      required: true,
    },
    small: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    custometSwiperOption: {
      spaceBetween: 0,
      slidesPerView: 2,
      slidesPerColumn: 3,
      slidesPerColumnFill: 'row',
      grabCursor: true
    },
  })
};
</script>

<style lang="scss">
.customers {
  &_content {
    padding: 7rem 0 9rem 0;

    @include media-breakpoint-down(md) {
      padding: 1rem 0 5rem 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 4.5rem 0 5rem 0;
    }
  }

  &__title {
    margin-right: 12.3%;
    span {
      color: $color-auxiliary;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
  }

  &__item {
    flex: 0 0 percentage(1 / 8);
    display: flex;
    margin: 3.2rem 0;
    overflow: hidden;
    max-height: 100px;

    @include media-breakpoint-down(lg) {
      margin: 1.5rem 0;
      max-height: 55px;
    }

    @include media-breakpoint-down(md) {
      flex: 0 0 percentage(1 / 9);
      margin: 1rem 0;
      margin-right: percentage(1 / 8);
    }

    @include media-breakpoint-down(xs){
      max-width: 90px;
    }

    img {
      display: block;
      max-width: 100%;
      object-fit: contain;
    }

    &:not(:nth-child(4n + 4)) {
     margin-right: percentage(1 / 8);
    }

    &:not(:nth-child(4n + 1)) {
      img {
        margin: 0 auto;
      }
    }
  }

  &__item-swiper {
    img {
      display: block;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__img-wrap {
    margin-bottom: 3rem;
    height: 50px;
    max-width: 80px;
    display: flex;
    justify-content: center;
  }
}
</style>

