<template>
  <div class="competencies container-fluid">
    <div class="competencies_content container container--down-md-align-right">
      <div
        v-if="$route.path === '/'"
        class="competencies__title competencies__title_index"
      >
        <h3 class="h4">
          Развиваем существующий бизнес и помогаем запускать новые проекты.
          Достигаем вершин с помощью аналитики и логики.
        </h3>
      </div>
      <div v-else class="competencies__title">
        <h3 class="h4">{{ title }}</h3>
      </div>
      <div class="competencies__body">
        <div
          class="competencies-item"
          v-for="(competency, i) in competencies"
          :key="i"
        >
          <div
            class="competencies-item__title"
            :class="{ 'competencies-item__title_gray': $route.path === '/' }"
          >
            <h4 class="h3">{{ competency.title }}</h4>
          </div>
          <CompetenciesList
            :list="competency.list"
            :class="{ 'competencies-list_gray': $route.path === '/' }"
          ></CompetenciesList>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CompetenciesList from "~/components/sections/CompetenciesList";

export default {
  name: "Competencies",
  components: { CompetenciesList },
  props: {
    title: {
      type: String,
      default: "Наши компетенции",
    },
    competencies: {
      type: Array,
      default: [
        {
          title: "Брендинг",
          list: [
            { item: "Аудит и исследования" },
            { item: "Нейминг" },
            { item: "Фирменный стиль" },
            { item: "Гайдлайн" },
            { item: "Брендбук" },
          ],
        },
        {
          title: "Упаковка",
          list: [
            { item: "Дизайн СТМ" },
            { item: "Креативная концепция" },
            { item: "Адаптация SKU линейку" },
            { item: "Подготовка к печати" },
            { item: "Сопровождение" },
          ],
        },
        {
          title: "Сайты и интерфейсы",
          list: [
            { item: "Юзабилити-аудит" },
            { item: "Проектирование" },
            { item: "UX/UI" },
            { item: "Интернет-магазины" },
            { item: "Корпоративные сайты" },
          ],
        },
      ],
    },
  },
};
</script>

<style lang="scss">
.competencies {
  &__title {
    &_index {
      .h4 {
        width: 880px;
        font-weight: 500;
        font-size: 30px;
        line-height: 48px;
        color: $color-dark;
        text-transform: initial;
        letter-spacing: 0em;

        @include xxl-max {
          width: 580px;
          font-size: 20px;
          line-height: 30px;
        }

        @include md-max {
          width: auto;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0em;
        }
      }
    }
  }
  &_content {
    padding: rem(100) 0;

    @include media-breakpoint-down(lg) {
      padding: 5rem 0;
    }

    @include media-breakpoint-down(md) {
      padding: 6rem 0 3rem 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 3.7rem 0;
    }

    &_index {
      padding-top: 0;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.competencies-item {
  flex: 0 0 percentage(2 / 8);

  @include media-breakpoint-down(md) {
    flex: 0 0 percentage(3 / 9);
    letter-spacing: -0.03em;
  }

  @include media-breakpoint-down(xs) {
    flex: 0 0 percentage(9 / 9);
  }

  &__title {
    .h3 {
      margin-top: 0.8rem;
      margin-bottom: 0.7rem;
    }

    &_gray {
      .h3 {
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #90857f;
        font-weight: 700;

        @include xxl-max {
          font-size: 14px;
        }
        @include media-breakpoint-down(xs) {
          line-height: 1.2;
          margin-bottom: 0.4rem;
        }
      }
    }
  }

  &:not(:first-child) {
    @include media-breakpoint-down(xs) {
      padding-top: 1rem;
    }
  }
}
</style>
