<template>
  <div class="we-do-screen container-fluid">
    <div class="we-do-screen__row row screen">
      <div class="we-do-screen__content container container--down-md-align-right">
        <h4 class="h4">Что мы делаем</h4>
        <div class="we-do-card" v-for="(card, index) in weDoList" :key="index">
          <div class="we-do-card__header">
            <div class="we-do-card__title"><h3 class="h3">{{card.title}}</h3></div>
            <div class="we-do-card__description">{{card.description}}</div>
          </div>
          <div class="we-do-card__image we-do-card__image--small">
            <img :src="card.imageSmall" :alt="card.alt" class="img--centered img--responsive"/>
          </div>
          <div class="we-do-card__image we-do-card__image--big ">
            <img :src="card.imageBig" :alt="card.alt" class="img--centered img--responsive"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutWeDo',
  data: () => ({
    weDoList: [
      {
        title:'продукты которыми любят пользоваться',
        description: 'Мы занимаемся брендингом и диджитал проектами с 2016 года, любим смелые и нестандартные решения основанные на понимании задач бизнеса.',
        imageBig: '/images/image_1.jpg',
        imageSmall:'/images/image.jpg',
        alt: 'Продукты'
      },
      {
        title:'САЙТЫ рассказывающие историю бренда',
        description: 'Мы занимаемся брендингом и диджитал проектами с 2016 года, любим смелые и нестандартные решения основанные на понимании задач бизнеса.',
        imageBig: '/images/image_2.jpg', imageSmall:'/images/image_3.jpg',
        alt: 'Сайты'
      },
      {
        title:'Графика на которую смотрят с восхищением',
        description: 'Мы занимаемся брендингом и диджитал проектами с 2016 года, любим смелые и нестандартные решения основанные на понимании задач бизнеса.',
        imageBig: '/images/image_5.jpg',
        imageSmall:'/images/image_4.jpg',
        alt: 'Графика'
      }
    ]
  })
}
</script>

<style lang="scss">
.img--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img--responsive {
  display: block;
  height: 100%;
  width: auto;
}

.we-do-screen {
  padding-top: 11rem;

  @include media-breakpoint-down(lg) {
     padding-top: 8.3rem;
  }

  @include media-breakpoint-down(md) {
     padding-top: 5rem;
  }

  @include media-breakpoint-down(xs) {
     padding-top: 6rem;
  }

  &__row {
    justify-content: center;
  }

  &__content {
    padding-left: 0;
    padding-right: 0;
  }
}

.we-do-card {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr;
  padding-bottom: 4rem;

  @include media-breakpoint-down(lg) {
     padding-bottom: 3.5714rem;
  }

  @include media-breakpoint-down(md) {
     padding-bottom: 6.25rem;
     grid-template-columns: repeat(9, 1fr);
  }

  @include media-breakpoint-down(xs) {
     padding-bottom: 2rem;
  }

  &__header {
    padding-bottom: 1.5rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    @include media-breakpoint-down(md) {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 1;
    }

    @include media-breakpoint-down(xs) {
      h3 {
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__title {
      width: 80%;
    }

  &__description {
     line-height: 2;
     @include media-breakpoint-down(xs) {
       line-height: 1.69;
     }
  }

  &__image {
    overflow: hidden;
    position: relative;
  }

  &__image--small {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    padding-bottom: percentage(350 / 472);

    @include media-breakpoint-down(md) {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 2;
      padding-bottom: percentage(275 / 311);
    }

    @include media-breakpoint-down(xs) {
      grid-column-start: 1;
      grid-column-end: 10;
      padding-bottom: percentage(197 / 265);
    }
  }

  &__image--big {
    margin-top: 1.875rem;
    padding-bottom: percentage(700 / 633);
    margin-bottom: 1.875rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: start;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-left: $grid-gutter-width;
      grid-column-start: 6;
      grid-column-end: 10;
      grid-row-start: 2;
      grid-row-end: 2;
      padding-bottom: percentage(275 / 249);
      align-self: end;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &:nth-child(odd){
    // @include media-breakpoint-up(lg) {
      grid-template-columns: 4fr 1fr 3fr;

      .we-do-card__header {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .we-do-card__image--small {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .we-do-card__image--big {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    // }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(9, 1fr);

      .we-do-card__header{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 1;
      }

      .we-do-card__image--small {
        margin-left: $grid-gutter-width;
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 2;
      }

      .we-do-card__image--big {
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
      }
    }

    @include media-breakpoint-down(xs) {
      .we-do-card__image--small {
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 10;
      }
    }
  }
}
</style>
