<template>
  <div class="about-first-screen container-fluid">
    <div class="about-first-screen__row row align-items-end">
      <div class="about-first-screen__content container container--down-md-align-right">
        <div class="about-first-screen__title">
          <h2>С 2016 года выстраиваем долгосрочные отношения с&nbsp;клиентами</h2>
        </div>
        <div class="about-first-screen__img"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutFirstScreen'
};
</script>

<style lang="scss">
.about-first-screen {
  padding-top: 160px;

  @include media-breakpoint-down(lg) {
    padding-top: 100px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 50px;
    margin-right: 0;
  }

  &__row {
    justify-content: center;
  }

  &__content {
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    margin-left: 12.3%;
    margin-right: 12.3%;
    margin-bottom: 4rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: 2rem;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &__img {
    overflow: hidden;
    height: 55vh;
    width: 100%;
    background: url("/images/about-first-screen.jpg") center;
    background-size: cover;

    @include media-breakpoint-down(xs) {
      height: 47vh;
    }
  }
}
</style>
