<template>
  <div class="worker vacancy bg-light-auxiliary">
    <div class="vacancy__header">
      <span class="vacancy__description">Хочешь в нашу команду? Нам нужен</span>
      <br />
      <span class="vacancy__position">{{ position }}</span>
    </div>
    <div class="vacancy__photo">
      <img
        class="img--centered img--responsive"
        src="/images/silhouette.svg"
        alt=""
      />
    </div>
    <div class="vacancy__link">
      <a href=""
        >Хочу стать <br />
        частью команды</a
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    position: {
      type: String,
      requared: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.vacancy {
  width: 100%;
  position: relative;

  @include media-breakpoint-down(xs) {
    min-height: 350px;
    min-width: 210px;
  }

  &__header {
    padding: 3.125rem 0 1.6rem 3.125rem;

    @include media-breakpoint-down(md) {
      padding: 1.5rem 1rem 0 1.5rem;
      font-size: 1em;
    }

    @include media-breakpoint-down(xs) {
      padding: 1.55rem 0 0 2rem;
    }
  }

  &__description {
    text-transform: none;
    line-height: 1.29;
    font-size: 1rem;
    font-weight: 500;
  }

  &__position {
    display: block;
    margin-top: 0.55rem;
    line-height: 1.5;
    font-weight: bold;
    color: $color-dark;
  }

  &__photo {
    position: relative;
    width: 100%;
    padding-bottom: percentage(580 / 550);

    @include media-breakpoint-down(xs) {
      padding-bottom: percentage(580 / 575);
    }
  }

  &__link {
    position: absolute;
    left: 30px;
    bottom: 30px;

    @include media-breakpoint-down(md) {
      left: 20px;
      bottom: 20px;
      line-height: 1.6;
    }

    a {
      display: block;
      position: relative;
      padding-right: 1.875rem;
      font-size: 1.07em;
      line-height: 1.6;
      &:hover {
        text-decoration: none;
      }
      &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 23%;
        height: 1px;
        width: 20px;
        background-color: $color-auxiliary;
      }
    }
  }
}
</style>
