<template>
  <ul class="competencies-list">
    <li class="competencies-list__item" v-for="(item, i) in list" :key="i">
      {{ item.item }}
    </li>
  </ul>
</template>

<script>
export default {
  name: "CompetenciesList",
  props: {
    list: Array,
    required: true,
    default: () => {
      return [];
    },
  },
};
</script>

<style lang="scss">
.competencies-list {
  padding: 0;
  margin: 0;

  &__item {
    line-height: 3;
    margin: 0;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
      line-height: 2.1rem;
    }

    &:before {
      display: none;
    }
  }

  &_gray {
    color: $color-dark;
  }
}
</style>
