<section>
  <div class="container container--small">
    <h2>Наследие</h2>
    <p class="big">
      Основная цель создания Военно-исторического музея «Наследие» — изучение
      и публичное представление музейных предметов в целях осуществления просветительской деятельности.
    </p>
    <p class="big">
      Для сохранения культурного наследия в городе-герое Волгоград, в целях патриотического воспитания молодежи Военно-исторический музей «Наследие» организует и активно участвует в мероприятиях, направленных на увековечивание
      в памяти подрастающего поколения подвигов героев Великой Отечественной Войны.
    </p>
    <p class="big">
      The main purpose of the military history Museum «Nasledie» is the study and public presentation of Museum objects for educational activities. In order to preserve the cultural heritage of the heroic city of Volgograd, in order to Patriotic education of young people,
      the Museum organizes and actively participates in events that perpetuate the exploits
      of the heroes of the Great Patriotic War in the memory of the younger generation.
    </p>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-12"><img src="/cases/heritage/img1.gif" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img2.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img3.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img4.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img5.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img6.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img7.gif" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img8.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img9.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img10.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img11.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img12.jpg" alt="" class="w-100"></div>
      <div class="col-12"><img src="/cases/heritage/img13.jpg" alt="" class="w-100"></div>
    </div>
  </div>
</section>
