<template>
  <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 4H9M9 4L6 1M9 4L6 7" stroke="white" stroke-width="1.6"/>
  </svg>
</template>