<template>
  <svg width="1em" height="1em" viewBox="0 0 62 62" stroke="#90857F" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="31" cy="31" r="30" />
    <path d="M21.4604 38.7585L21.4593 38.7574C20.8361 38.1553 20.5 37.3588 20.5 36.5117C20.5 35.666 20.8398 34.8684 21.4604 34.2649L26.7007 29.1697C26.7481 29.1235 26.8265 29.1235 26.8739 29.1697L27.2225 28.8112L26.8739 29.1697C26.8964 29.1916 26.9036 29.2146 26.9036 29.2343C26.9036 29.2541 26.8964 29.277 26.8739 29.299L21.6336 34.3942C20.4338 35.5609 20.4338 37.4625 21.6336 38.6292L22.4219 39.3957C23.6139 40.5547 25.5451 40.5547 26.7371 39.3957L31.9774 34.3004C33.1772 33.1337 33.1772 31.2321 31.9774 30.0655C31.9548 30.0436 31.9477 30.0206 31.9477 30.0008C31.9477 29.9811 31.9548 29.9581 31.9774 29.9362C31.9998 29.9144 32.0309 29.9016 32.0657 29.9016C32.1005 29.9016 32.1285 29.9142 32.1472 29.9328L32.1472 29.9329L32.1506 29.9362C33.4251 31.1754 33.4251 33.1905 32.1506 34.4297L26.9103 39.525C26.2711 40.1466 25.4279 40.4601 24.5795 40.4601C23.7311 40.4601 22.888 40.1466 22.2487 39.525L21.4604 38.7585Z" />
    <path d="M35.2997 32.8303L35.2996 32.8302L35.293 32.8369C35.2772 32.8528 35.2499 32.866 35.2153 32.866C35.1893 32.866 35.1552 32.8538 35.131 32.8303C35.1085 32.8084 35.1013 32.7854 35.1013 32.7656C35.1013 32.7459 35.1085 32.7229 35.131 32.701L40.3713 27.6057C41.5711 26.4391 41.5711 24.5375 40.3713 23.3708L39.583 22.6043C38.391 21.4453 36.4598 21.4453 35.2678 22.6043L30.0275 27.6996C28.8277 28.8662 28.8277 30.7678 30.0275 31.9345L30.3606 31.5919L30.0275 31.9345C30.0501 31.9564 30.0572 31.9794 30.0572 31.9991C30.0572 32.0189 30.0501 32.0419 30.0275 32.0638C29.9801 32.1099 29.9017 32.1099 29.8543 32.0638C28.5798 30.8246 28.5798 28.8095 29.8543 27.5703L35.0946 22.475C36.3769 21.2281 38.4739 21.2281 39.7562 22.475L40.5445 23.2415C41.164 23.8439 41.5003 24.641 41.5003 25.4883C41.5003 26.334 41.1606 27.1315 40.5399 27.735L35.2997 32.8303Z"/>
  </svg>
</template>
