<template>
  <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.279366 5.71846C0.651853 6.09381 1.25577 6.09381 1.62826 5.71846L4.99999 2.32089L8.37174 5.71849C8.74423 6.09384 9.34815 6.09384 9.72064 5.71849C10.0931 5.34315 10.0931 4.7346 9.72064 4.35925L5.70113 0.308927C5.69262 0.299657 5.68389 0.290515 5.67495 0.281508C5.48185 0.0869201 5.22654 -0.0067884 4.97352 0.000382279C4.73815 0.00680329 4.50468 0.100521 4.32505 0.281536C4.31635 0.290295 4.30786 0.299182 4.29958 0.30819L0.279366 4.35922C-0.0931219 4.73457 -0.0931219 5.34312 0.279366 5.71846Z" fill="#EEECEA"/>
  </svg>
</template>
