<template>
  <svg width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.1538 10.1333V5.86667C10.1538 3.62354 8.29411 1.80513 6 1.80513C3.70589 1.80513 1.84615 3.62354 1.84615 5.86667V10.1333C1.84615 12.3765 3.70589 14.1949 6 14.1949C8.29411 14.1949 10.1538 12.3765 10.1538 10.1333ZM6 0C2.68629 0 0 2.6266 0 5.86667V10.1333C0 13.3734 2.68629 16 6 16C9.31371 16 12 13.3734 12 10.1333V5.86667C12 2.6266 9.31371 0 6 0ZM7.5 6C7.5 6.82843 6.82843 7.5 6 7.5C5.17157 7.5 4.5 6.82843 4.5 6C4.5 5.17157 5.17157 4.5 6 4.5C6.82843 4.5 7.5 5.17157 7.5 6ZM3.30261 19.2346C3.00462 18.9218 2.52148 18.9218 2.22349 19.2346C1.9255 19.5474 1.9255 20.0545 2.22349 20.3673L5.43966 23.7432C5.44629 23.7507 5.45308 23.7581 5.46004 23.7654C5.60375 23.9162 5.79052 23.9943 5.97882 23.9997C6.18123 24.0057 6.38548 23.9276 6.53996 23.7654C6.54711 23.7579 6.55409 23.7503 6.5609 23.7426L9.77651 20.3673C10.0745 20.0545 10.0745 19.5474 9.77651 19.2346C9.47852 18.9218 8.99538 18.9218 8.69739 19.2346L5.99999 22.0659L3.30261 19.2346Z" fill="#EEECEA"/>
</svg>
</template>
