<section>
  <div class="container container--small">
    <p class="big color-dark">
      Волгоградская компания Talecom объединяет направления бухгалтерского учета и юридического сопровождения для
      частных лиц, малого и среднего бизнеса, владельцев инвестиционной собственности и начинающих свою деятельность
      предприятий.
    </p>
  </div>

  <div class="container container--down-md-align-right">
    <div class="row">
      <div><img src="/cases/techinhouse/img1.png" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>Фирменный стиль <br>с собственным голосом</h3>
    <p>Многие устройства в современном доме управляются голосом, а некотоые даже имеют исскуственный интелект, который позволяет им говорить собственным голосом. В новом фирменном стиле “Techinhouse” компания приобрела собственный голос, теперь каждый носитель разговаривает с человеком, сообщая важную и занимательную информацию.</p>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div><img src="/cases/techinhouse/img2.svg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="/cases/techinhouse/img3.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/img4.jpg" alt="">
      </div>
      <div class="col-md-12">
        <img src="/cases/techinhouse/img5.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>От прототипирования <br>к дизайну</h3>
    <p>Предварительно проанализировав рынок выявлены конкуренты, клиенты, их потребности, ожидания и боли. На этапе прототипирования определен основной функционал проекта, ключевые блоки, продумано юзабилити и пользовательский путь.</p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row no-gutters">
      <div class="col-md-12">
        <img src="/cases/techinhouse/img6.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/img7.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/img8.png" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>3D-моделирование <br>умного жилого пространства </h3>
    <p>Предварительно проанализировав рынок выявлены конкуренты, клиенты, их потребности, ожидания и боли. На этапе прототипирования определен основной функционал проекта, ключевые блоки, продумано юзабилити и пользовательский путь.</p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div><img src="/cases/techinhouse/video.jpg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>Говорящие <br>иконки</h3>
    <p>Иконки, простые, лаконичные, но при этом выразительные помогают пользователю обратить внимание на важную информацию. Легкая анимация заставляет задержаться взглядом на каждой услуге, которую оказывает компания Techinhouse. В новом дизайне сайта говорят даже иконки.</p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div><img src="/cases/techinhouse/img10.svg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>Умный дизайн</h3>
    <p>Умный дом - это высокотехнологичная система, объединяющая все бытовые коммуникации в одну и управляемая, программируемая и настраиваемая под все потребности и пожелания хозяина.</p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div><img src="/cases/techinhouse/img11.jpg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/1.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/3.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/4.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/5.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/6.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>Демонстрация возможностей <br> умного дома на сайте</h3>
    <p>Анимированная 3D-модель и всплывающие окна демонстрируют все возможности системы умного дома Techinhouse</p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div><img src="/cases/techinhouse/video.jpg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>Модульная <br> дизайн-система</h3>
    <p>Так же как умный дом, сайт компании может кастомизироваться. Все внутренние страницы выстраиваются из типовых блоков, благодаря чему получаются уникальными, но в то же время не теряют целостности с главной страницей.</p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="/cases/techinhouse/img12.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/img13.jpg" alt="">
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container container--small">
    <h3>Отзывчивая форма <br> обратной связи</h3>
    <p>С помощью микроанимаций форма общается с пользователем, помогает загружать файлы и подсказывает ему, если он ошибся.</p>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12"><img class="w-100" src="/cases/techinhouse/img14.jpg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>Адаптивные <br> версии</h3>
    <p>Каждая страница подстраивается под устройство пользователя и позволяет пользователю максимально эффективно взаимодействовать с сайтом вне зависимости от устройства.</p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/mobile/1.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/mobile/2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/mobile/3.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/techinhouse/screens/mobile/4.jpg" alt="">
      </div>
    </div>
  </div>
</section>
