<section class="mt-0">
  <div class="container container--small">
    <p class="big color-dark">
      Компания Techinhouse занимается разработкой
      и интеграцией систем умного дома для автоматизации жилых и коммерческих объектов.
    </p>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div><img src="/cases/talecom/office.jpg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--small">
    <h3>Детальные исследования <br> бизнеса клиента.</h3>
    <p>
      Сайты клиента и его конкурентов были созданы и не обновлялись достаточно давно. Главная проблема сайтов в
      данной нише - однотипность. Использование устоявшихся образов с фотостоков препятствует уникальности и мешает
      отстраниться от конкурентов.  Ни один из сайтов, в том числе сайт клиента, не выделяются из общей массы, что
      затрудняет выбор фирмы для потенциального клиента.
    </p>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div><img class="w-100" src="/cases/talecom/loader.jpg" alt=""></div>
    </div>
  </div>
</section>

<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div class="col-md-6">
        <img src="/cases/talecom/prototypes.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img src="/cases/talecom/prototype-developer.jpg" alt="">
      </div>
      <div class="col-md-12">
        <img src="/cases/talecom/prototype-discussion.jpg" alt="">
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container container--down-md-align-right">
    <div class="row">
      <div class="col-lg-6">
        <img src="/cases/talecom/screen-1.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <img src="/cases/talecom/screen-2.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <img src="/cases/talecom/screen-3.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <img src="/cases/talecom/screen-4.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <img src="/cases/talecom/screen-5.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <img src="/cases/talecom/screen-6.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8 col-xxl-6">
        <p class="big color-dark">
          Очень хороший сайт, красивые иллюстрации, удобный калькулятор. Прототипы вообще огнище. Спасибо огромное TODO за проделанную работу. Нужно запросить отзыв от клиента примерно такого же объема как этот текст и вставить его сюда.
        </p>

        <div class="worker worker--with-avatar">
          <div class="worker__avatar"><img src="/cases/talecom/avatar.png" alt=""></div>
          <div class="worker__info">
            <div class="worker__name">Кристина Кривова</div>
            <div class="worker__position">глава Talecom</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <h5>Команда</h5>
        <div class="worker">
          <div class="worker__name">Алексей Данилов</div>
          <div class="worker__position">арт-директор</div>
        </div>
        <div class="worker">
          <div class="worker__name">Эля Акатьева</div>
          <div class="worker__position">иллюстратор</div>
        </div>
        <div class="worker">
          <div class="worker__name">Денис Самойлов</div>
          <div class="worker__position">дизайнер</div>
        </div>
        <div class="worker">
          <div class="worker__name">Александр Горбатов</div>
          <div class="worker__position">дизайнер</div>
        </div>
        <div class="worker">
          <div class="worker__name">Евгений Наумов</div>
          <div class="worker__position">frontend-разработчик</div>
        </div>
      </div>
    </div>
  </div>
</section>
