.case-category {
  &__header {
    height: 300px;

    @include media-breakpoint-down(xl) {
      height: 250px;
    }

    @include media-breakpoint-down(lg) {
      height: 300px;
    }

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }
  &__body {
    margin-top: 20px;
    padding-right: 2rem;

    @include media-breakpoint-up(xxl) {
      width: percentage(8 / 12);
    }
  }
  &__categories {

  }
  &__category {
    display: inline-block;
    margin-right: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #90857F;
  }
  &__works {
    margin-top: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #241417;
  }
}
