@mixin icon-close($size, $line-width, $color) {
  position: relative;
  display: inline-block;
  width: $size + px;
  height: $size + px;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: $line-width + px;
    height: 100%;
    background-color: $color;
    top: 0;
    left: 50%;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: color .3s;

  @include icon-close(20, 1, currentColor);
  @include hover {
    color: $color-auxiliary;
  }
}
