.see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;

  &__btn {
    transition: 0.3s ease-in-out;

    @mixin size($size) {
      width: $size;
      height: $size;
    }

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    @include size(150px);

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    letter-spacing: -0.05em;

    color: #90857f;
    cursor: pointer;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      border: 1px solid #90857f;
      border-radius: 50%;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    // &:after {
    //   animation: see-all-before 2s ease-in infinite;
    //   animation-play-state: paused;
    // }

    // &:after {
    //   animation-delay: 1s;
    // }

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
    }

    &:hover {
      text-decoration: none;
      &::after {
        transform: scale(1.1);
      }
    }

    @include media-breakpoint-up(md) {
      @include size(150px);
    }
  }
}

@keyframes see-all-span {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes see-all-before {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
