.worker {
  display: inline-block;
  margin: 25px 25px 25px 0;
  text-transform: uppercase;
  line-height: 1.2;

  &--with-avatar {
    display: inline-flex;
    align-items: center;
  }

  &__avatar {
    margin-right: 1rem;
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    font-weight: bold;
    font-size: 1.25em;
    color: $color-dark;
    letter-spacing: -0.05em;
  }

  &__position {
    font-size: 0.8em;
  }

  &:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
  }
}
