<template>
    <div class="case-card" :class="classes" @click="transitionToCasePage">
      <div class="case-card__overflow"></div>
      <button class="case-card__button" type="button">
        {{force?'Перейти на сайт':'Смотреть кейс'}}
        <Arrow />
        </button>
      <div
        class="case-card__inner"
        :style="{ background }"
        ref="inner"
      >
        <img class="case-card__image" v-if="!!img" :src=img :alt=alt :class="imgClasses">
        <div class="case-card__title" :class="titleClasses">{{ title }}</div>
        <div v-if="tags.length" class="case-card__tags">
          <span v-for="tag of tags" class="case-card__tag nav-item">{{ tag }}</span>
        </div>
      </div>
    </div>
</template>

<script>
import DarkSection from "./DarkSection";
import Arrow from "~/components/svg/arrow";

export default {
  components: { DarkSection, Arrow },
  name: "CaseCard",
  props: {
    full: {
      type: Boolean,
      default: false
    },
    case: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      isFull: false,
      isTransition: false
    }
  },
  computed: {
    img() {
      return this.case.img || ''
    },
    imgMods() {
      return this.case.imgMods || []
    },
    title() {
      return this.case.title || ''
    },
    tags() {
      return this.case.tags || []
    },
    titleMods() {
      return this.case.titleMods || []
    },
    alt() {
      return this.case.alt || ''
    },
    description() {
      return this.case.description || ''
    },
    background() {
      const { color, image, additional } = this.case.background;
      const url = image ? `url(${image})` : '';
      return `${color || '#241417'} ${url} ${additional}`;
    },
    light() {
      return this.case.light || false
    },
    to() {
      return '/cases/' + this.case.alias
    },
    link() {
      return this.case.link || ''
    },
    force() {
      return this.case.force || false
    },
    classes() {
      return {
        'case-card--transition' : this.isTransition,
        'case-card--full' : this.isFull,
        'case-card--light' : this.light
      }
    },
    imgClasses() {
      const classes = {};
      this.imgMods.forEach(mod => {
        classes[`case-card__image--${mod}`] = true
      })
      return classes;
    },
    titleClasses() {
      const classes = {};
      this.titleMods.forEach(mod => {
        classes[`case-card__title--${mod}`] = true
      })
      return classes;
    }
  },
  created() {
    this.isFull = this.full;
  },
  methods: {
    transitionToCasePage() {
      this.$emit('removeClass')
      setTimeout(()=>{
        if (this.force && this.link) {
          window.open(this.link,'_blank');
          this.$emit('removeClass')
          return false
        }
        if (!!this.to && !this.isTransition && !this.full) {
          this.isTransition = true;
          const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;
          const { inner } = this.$refs;
          const rect = inner.getBoundingClientRect();

          this.$el.style.height = rect.height + 'px';
          requestAnimationFrame(() => {
            inner.style.position = 'fixed'
            inner.style.top = rect.top + 'px'
            inner.style.left = rect.left + 'px'
            inner.style.width = rect.width + 'px';
            inner.style.height = rect.height + 'px';
            inner.style.zIndex = 100;

            requestAnimationFrame(() => {
              inner.style.top = '0px'
              inner.style.left = '0px'
              inner.style.height = ''
              inner.style.width = `100%`
              inner.style.transition = 'all 0.75s ease';
              this.isFull = true;
            });
          })
          this.$store.dispatch('menu/toggleColor', 'header_light');
          setTimeout(() => {
            window.scrollTo(0,0);
            requestAnimationFrame(() => {
              inner.style.top = '0px'
              requestAnimationFrame(() => {
                inner.style.top = '100px'
              });
            })
            setTimeout(() => {
              this.$router.push(this.to)
              }, 750)
          }, 1300)
        }
      }, 151)
    }
  }
}
</script>

<style lang="scss">
.case-card {
  $self: &;
  cursor: pointer;
  position: relative;
  height: 100%;

  &__overflow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: fadeIn 0.5s ease;
    animation-fill-mode: both;
    z-index: 10;

    #{$self}--transition & {
      display: block;
    }
  }

  &__button {
    opacity: 0;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $color-white;
    border-radius: 50%;
    padding: 90px 25px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    z-index: 1;
    transition: opacity 1s;
    cursor: pointer;

    @include xl-max {
      display: none;
    }
  }

  &__inner {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0;

    #{$self}--full & {
      width: 100vw;
      height: 100vh;
      max-width: 100%;

      cursor: default;

      @include media-breakpoint-up(lg) {
        height: calc(100vh - 170px);
      }
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }

  &__title {
    position: absolute;

    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 1;
    text-align: center;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: $white;
    text-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.15);

    opacity: 0;
    transform: translateY(50%);
    transition: all 0.75s ease 0.5s;

    #{$self}--full & {
      opacity: 1;
      transform: translateY(0%);
    }

    &--none {
      display: none;
    }

    @include media-breakpoint-up(md) {
      font-size: 96px;
    }
  }

  &__image {
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: 2rem;

    &--full {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    &--cover {
      object-fit: cover;
    }
  }

  &__tags {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.75s;
    color: $color-white;

    #{$self}--light & {
      color: $color-auxiliary;
    }

    @include media-breakpoint-up(lg) {
      #{$self}--full & {
        opacity: 1;
      }
    }
  }

  &__tag {
    margin: 1.875rem;
    white-space: nowrap;
  }

  &__slot {
    transition: opacity 0.5s ease;

    #{$self}--full & {
      opacity: 0;
    }
  }
}

</style>
