<template>
  <DarkSection class="first-screen container-fluid">
    <div class="first-screen__row row">
      <div class="first-screen__content">
        <h1 class="first-screen__title">Дизайн на основе аналитики и здравого смысла</h1>
      </div>
    </div>
  </DarkSection>
</template>

<script>
import DarkSection from './DarkSection'

export default {
  name: 'FirstScreen',
  components: { DarkSection }
}
</script>

<style lang="scss">
.first-screen
{
  position: relative;
  width: 100%;
  height: 100vh;
  background: $color-dark url("/images/first-screen.jpg") center;
  background-size: cover;

  &__row {
    height: calc(100vh - 5rem);
  }

  &__decription {
    max-width: 30rem;
  }

  &__title {
    //background: red;
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: calc(2 / 12 * 100%);
    padding-right: 1rem;

    @include media-breakpoint-up(lg) {
      padding: 0 15px;
    }
  }
  &__content {

    @include media-breakpoint-up(lg) {
      width: 44rem;
      padding-right: 5rem;
      margin-bottom: 6.25rem;
    }

    @include media-breakpoint-up(xxl) {
      width: 59rem;
      padding-right: 10rem;
    }
  }
  &__title {}

}
</style>
