<template>
  <footer class="footer container container--down-md-align-right px-0">
    <ul v-if="menuList.length" class="footer__nav no-list">
      <li v-for="item in menuList" class="footer__nav-item">
        <a
          :href="item.to"
          class="footer__nav-link"
          @click.prevent="clickHandler(item.to)"
          >{{ item.title }}</a
        >
      </li>
    </ul>

    <ul v-if="socialList.length" class="footer__nav footer__nav_social no-list">
      <li v-for="item in socialList" class="footer__nav-item">
        <a :href="item.href" class="footer__nav-link">{{ item.title }}</a>
      </li>
    </ul>
    <div class="footer__row">
      <div class="footer__contacts-block">
        <ul class="footer__contacts no-list">
          <li class="footer__contacts-item">
            <a href="mailto:hello@todoagency.ru" class="footer__contacts-link">
              hello@todoagency.ru
            </a>
          </li>
          <li class="footer__contacts-item">
            <a href="tel:88003008640" class="footer__contacts-link">
              8 800 300-86-40
            </a>
          </li>
        </ul>
        <div class="footer__contacts-link">
          <span class="text-nowrap">г. Москва, Варшавское</span>
          <span class="text-nowrap">шоссе, д. 9, строение 1Б</span>
        </div>
      </div>
      <section class="footer__copy d-none d-lg-flex">
        <nuxt-link to="#" class="footer__copy-link"
          >Политика конфиденциальности</nuxt-link
        >
        <span>© 2021 TODO agency. Все права защищены</span>
      </section>
    </div>
    <section class="footer__copy d-flex d-lg-none">
      <nuxt-link to="#" class="footer__copy-link"
        >Политика конфиденциальности</nuxt-link
      >
      <span>© 2021 TODO agency. Все права защищены</span>
    </section>
  </footer>
</template>

<script>
import { preloaderInstance } from "~/components/Preloader";
import { mapState } from "vuex";

export default {
  name: "Footer",
  props: {
    socialList: {
      type: Array,
      default: () => [
        {
          title: "Behance",
          href: "https://www.behance.net/todo_agency",
        },
        {
          title: "Instagram",
          href: "https://www.instagram.com/todo.agency/",
        },
        {
          title: "Facebook",
          href: "https://www.facebook.com/todoagencyru",
        },
      ],
    },
  },
  computed: {
    ...mapState({
      menuList: (state) => state.menu.list,
    }),
  },
  methods: {
    clickHandler(to) {
      if (!this.isActive(to)) {
        preloaderInstance.loading(true, () => {
          this.$router.push(
            to,
            () => {
              preloaderInstance.loaded();
            },
            () => {
              preloaderInstance.loaded();
            }
          );
        });
      }
    },
    isActive(to) {
      return to == this.$route.path;
    },
  },
};
</script>

<style lang="scss">
.footer {
  padding: rem(30) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &::before {
    content: "";
    top: 0;
    height: 1px;
    width: 100%;
    background: $color-light-auxiliary;
    position: absolute;
  }

  &__nav {
    @include list-unstyle;
    display: flex;
    width: 50%;
    margin-bottom: rem(35, 16);

    &-item {
      margin-left: 60px;

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: $color-dark;
    }

    &_social {
      justify-content: flex-end;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__contacts {
    &-block {
      width: percentage(5 / 8);
    }

    @include list-unstyle;
    display: flex;
    &-item {
      margin: 0;
      width: 50%;
    }

    &-link {
      font-weight: 500;
      font-size: rem(30, 16);
      line-height: rem(32, 16);
      margin-top: rem(16, 16);
      color: $color-dark;
    }
  }

  &__copy {
    width: percentage(3 / 8);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    color: $color-auxiliary;
    white-space: nowrap;
    font-weight: 400;

    &-link {
      font-size: 12px;
      line-height: 15px;
      color: $color-auxiliary;
      margin-bottom: 10px;
      font-weight: 400;
    }
  }

  @include xxl-max {
    &__contacts {
      &-link {
        font-size: rem(20, 16);
        line-height: rem(20, 16);
        margin-top: rem(10, 16);
      }
    }
    &__copy {
      &-link {
        font-size: rem(12);
        line-height: rem(15);
      }
    }
  }
  @include xl-max {
    &__nav {
      &-item {
        margin: 0 0 0 35px;
      }
    }
  }
  @include lg-max {
    &__row {
      flex-direction: column;
      width: 50%;
    }
    &__nav {
      flex-direction: column;
      justify-content: start;
      width: 25%;
      &-item {
        margin: 0 0 15px;
      }
    }
    &__contacts {
      &-block {
        width: 100%;
      }
      width: 100%;
      flex-direction: column;
      &-item {
        width: 100%;
      }
      &-link {
        line-height: rem(30, 16);
      }
    }
    &__copy {
      & * {
        width: 50%;
      }
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      height: unset;
      align-items: unset;
    }
  }
  @include md-max {
    &__row {
      flex-direction: column;
      width: 100%;
    }
    &__contacts {
      &-link {
        font-size: 16px;
        & .text-nowrap {
          white-space: normal !important;
        }
      }
    }
    &__nav {
      flex-direction: column;
      justify-content: start;
      width: 50%;
      margin-bottom: 5px;
      &-item {
        margin: 0 0 15px;
      }
    }
    &__copy {
      margin-top: 25px;
      flex-wrap: wrap;
      flex-direction: column;
      & * {
        width: 100%;
        display: block;
        white-space: normal;
      }
    }
  }
}
</style>
