<template>
  <header class="header" :class="{ scrolled: isScrolled }">
    <div class="layout__header" :class="colorHeader || colorShceme">
      <div class="header__container">
        <div class="header__left-side">
          <Logo />
        </div>
        <div class="header__center">
          <Burger class="d-lg-none" />
          <MainNav class="d-none d-lg-block" />
          <div class="header__contacts">
            <ul class="header__contacts-list no-list">
              <li class="header__contacts-item">
                <a href="mailto:hello@todoagency.ru">hello@todoagency.ru</a>
              </li>
              <li class="header__contacts-item">
                <a href="tel:88003008640" class="text-nowrap"
                  >8 800 300-86-40</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="header__right-side d-none d-md-block">
          <button
            type="button"
            class="header__button text-nowrap"
            @click.stop="toggleModal.call(null, 'order')"
          >
            Начать проект
          </button>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import isTouch from "~/scripts/helpers/detectTouch";

import Logo from "~/components/side/Logo";
import Burger from "~/components/side/Burger";
import Mail from "~/components/side/Mail";
import MainNav from "~/components/MainNav";

export default {
  components: {
    Logo,
    Burger,
    Mail,
    MainNav,
  },
  data: () => ({
    isScrolled: false,
  }),
  mounted() {
    if (!isTouch) document.documentElement.classList.add("no-touch");
    // this.triggerAllowingOverlay();
    window.addEventListener("scroll", this.setIsScrolled, { passive: true });
    document.addEventListener("keyup", this.onKeyUp);
    window.addEventListener("resize", this.onResize);
  },
  beforeDestroy() {
    document.removeEventListener("keyup", this.onKeyUp);
    window.removeEventListener("resize", this.onResize);
    window.removeEventListener("scroll", this.setIsScrolled, { passive: true });
  },
  computed: {
    ...mapState({
      sideComponents: (state) => state.side.components,
      menuIsOpen: (state) => state.menu.isOpen,
      list: (state) => state.menu.list,
      colorHeader: (state) => state.menu.color,
    }),
    colorShceme() {
      return this.$route.path == "/" || this.menuIsOpen
        ? "header_dark"
        : "header_light";
    },
  },
  methods: {
    ...mapMutations({
      toggleModal: "modals/toggle",
    }),
    setIsScrolled() {
      this.isScrolled = window.scrollY > 0;
    },
  },
};
</script>

<style lang="scss">
.header {
  position: relative;
  z-index: 16;
  height: 100px;
  transition: height 0.5s;

  .layout__header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transition: background-color 0.5s, height 0.5s;
    font-weight: 600;
    font-size: rem(16);
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    transition: height 0.5s;
  }

  &.scrolled {
    height: 70px;

    .layout__header,
    .header__container {
      height: 70px;
    }
  }

  &__center {
    display: flex;
    padding: 0 5px;
    width: percentage(8 / $grid-columns);
    nav {
      width: (5 / $grid-columns) * 100vw;
    }
  }

  a:hover {
    text-decoration: none !important;
  }

  &_dark {
    background-color: $color-dark;
  }

  &_dark * {
    color: $color-light;
  }

  &_light {
    background-color: $color-light;
  }

  &_light * {
    color: $color-dark;
  }

  &__left-side {
    line-height: 0;
    padding-left: 100px;
    width: percentage(2 / $grid-columns);
  }
  &__right-side {
    width: percentage(2 / $grid-columns);
    padding-left: 40px;
  }

  &__contacts {
    width: 25vw;
    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      height: 100%;
      align-items: center;
    }

    &-item {
      margin-right: 60px;

      & a {
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button {
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 20px 30px;
    background-color: $color-light-auxiliary;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $color-dark;
    border-radius: 40px;
    cursor: pointer;
  }

  @include xxl-max {
    &__left-side {
      padding: 0 50px;
    }
    &__right-side {
      padding-left: 0px;
    }

    &__contacts {
      &-item {
        margin-right: 40px;
      }
    }

    &__button {
      padding: 15px 25px;
    }
  }

  @include xl-max {
    &__left-side {
      padding: 0 50px;
    }
    &__center {
      nav,
      &__contacts {
        width: percentage(4/8);
      }
    }
  }

  @include lg-max {
    &__center {
      justify-content: space-between;
      width: percentage(7 / $grid-columns);
    }
    &__right-side {
      width: percentage(3 / $grid-columns);
    }
    &__contacts {
      width: (3 / $grid-columns) * 100vw;
      &-list {
        flex-direction: column;
        align-items: flex-start;
      }
      &-item {
        margin: 0;
      }
    }
  }

  @include md-max {
    height: 65px;

    &__container {
      padding-left: percentage(2 / $grid-columns);
      justify-content: space-between;
    }
    .layout__header,
    &.scrolled {
      height: 65px;

      .layout__header,
      .header__container {
        height: 70px;
      }
    }
    &__left-side {
      padding: 0;
    }

    &__center {
      width: percentage(4 / $grid-columns);
    }
    &__contacts {
      display: none;
    }
  }
}

.header__button {
  transition: 0.3s;
  &:hover {
    color: $color-white;
    background: $color-auxiliary;
  }
  &:active {
    color: $color-white;
    background: $color-light;
  }
}
</style>
