<template>
  <span class="text-nowrap" :class="{ 'd-block': last }"
    >{{ splitTitle(item)[0] }}
    <span
      v-if="item.selected !== ''"
      class="promo__unique"
      :class="{ 'text-white': isLoaded }"
      ><i v-for="(character, i) in selectionArray(item)" :key="i + character">{{
        character
      }}</i></span
    >{{ splitTitle(item)[1] }}</span
  >
</template>

<script>
import { preloaderInstance } from "~/components/Preloader";
export default {
  name: "MainTitle",
  props: {
    item: {
      type: Object,
      required: true,
      default: () => {
        return [];
      },
    },
    last: {
      type: Boolean,
      required: true,
      default: true,
    },
  },
  data: () => ({
    isMounted: false,
  }),
  mounted() {
    setTimeout(() => {
      this.isMounted = true;
    }, 300);
  },
  computed: {
    isLoaded() {
      return !preloaderInstance.isLoading && this.isMounted;
    },
  },
  methods: {
    splitTitle(item) {
      if (item.selected == "") return [item.line];
      console.log(item.line.split(item.selected));
      return item.line.split(item.selected);
    },
    selectionArray(item) {
      if (item.selected == "") return item.selected;
      return item.selected.split("");
    },
    shosBr(i) {
      return;
    },
  },
};
</script>

<style lang="scss" scoped>
.promo {
  &__unique.text-white i {
    font-style: normal;
    -webkit-transition: color 2s 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: color 2s 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;

    @for $i from 1 to 20 {
      &:nth-child(#{$i}) {
        -webkit-transition-delay: 0.5 + ($i * 0.1s);
        transition-delay: 0.5 + ($i * 0.1s);
      }
    }
  }
}
</style>
