<template>
  <nav class="main-nav">
    <ul class="main-nav__list">
      <li v-for="(link, i) in list" :key="i" class="main-nav__item">
        <a
          :href="link.to"
          class="main-nav__link"
          :class="{ 'main-nav__link_active': isActive }"
          exactActiveClass="main-nav__link_exact-active"
          @click.prevent="clickHandler(link.to)"
        >
          {{ link.title }}
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
import { preloaderInstance } from "~/components/Preloader";
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      list: (state) => state.menu.list,
    }),
  },
  methods: {
    clickHandler(to) {
      if (!this.isActive(to)) {
        preloaderInstance.loading(true, () => {
          this.$router.push(
            to,
            () => {
              preloaderInstance.loaded();
            },
            () => {
              preloaderInstance.loaded();
            }
          );
        });
      }
    },
    isActive(to) {
      return to == this.$route.path;
    },
  },
};
</script>

<style lang="scss" scoped>
.main-nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__item {
    display: block;
    margin: 0;
    margin-right: 60px;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }
  }

  &__link {
    display: block;
    transition: transform 0.5s ease;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    a {
      font-weight: 600;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  @include xxl-max {
    &__item {
      margin-right: 40px;
    }
  }
}
</style>
