<template>
  <ul class="menu-list">
    <li v-for="(link, i) in list" :key="i" class="menu-list__item">
      <nuxt-link
        :to="link.to"
        class="menu-list__link menu-item"
        activeClass="menu-list__link_active"
        exactActiveClass="menu-list__link_exact-active"
        @click.native="closeMenu"
      >
        {{ link.title }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'menuList',
  props: {
    list: {
      type: Array,
      required: true,
    },
  },
  methods: {
    ...mapMutations({
      closeMenu: 'menu/close'
    })
  }
}
</script>

<style lang="scss">
.menu-list {
  margin: 0;
  padding: 0;

  &__item {
    margin: 0;
    
    &::before {
      display: none;
    }
    &:not(:last-child) {
      margin-bottom: em(50);
      @include media-breakpoint-up(md) {
        margin-bottom: em(60);
      }

      @include media-breakpoint-up(xxl) {
        margin-bottom: em(100);
      }
    }
  }
  &__link {
    display: block;

    color: $color-white;

    transition: transform 0.5s ease;
    transform-origin: left center;

    &:hover {
      text-decoration: none;
      transform: scale(1.1);
    }
  }
}
</style>
