<template>
  <transition :css="false" @enter="onEnter" @leave="onLeave" name="menuAnimation">
    <DarkSection v-if="menuIsOpen" class="menu">
      <div class="menu__left">
        <div class="menu__nav">
          <MenuList :list="list" />
        </div>

        <a class="menu__download" href="#" download>Скачать презентацию (pdf, 3.5 Мб)</a>
      </div>
    </DarkSection>
  </transition>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import anime from 'animejs';
import MenuList from '~/components/MenuList';
import DarkSection from './DarkSection';
import { preventScroll, allowScroll } from '~/scripts/setBodyScroll';

export default {
  name: 'Menu',
  data: () => ({
    routeIsChanged: false,
  }),
  watch: {
    $route() {
      this.routeIsChanged = true;
    },
  },
  components: {
    DarkSection,
    MenuList,
  },
  computed: {
    ...mapState({
      sideComponents: state => state.side.components,
      menuIsOpen: state => state.menu.isOpen,
      list: state => state.menu.list,
    }),
    ...mapGetters({
      isModalOpen: 'modals/openedModal',
    }),
  },
  methods: {
    onEnter(el, done) {
      if (!!this.tl) this.tl.pause();

      const begin = () => {
        if (!this.isModalOpen) preventScroll();

        setTimeout(() => {
          el.classList.add('menu_open');
        });

        // hide right center side component
        this.lastSideComponents = this.$store.getters['side/components'];
        this.$store.dispatch('side/setComponents', {
          leftTop: 'Logo',
          leftCenter: 'Burger',
          leftBottom: 'lang',
          rightTop: 'Mail',
          rightCenter: '',
          rightBottom: 'OrderSocialBtn',
        });
      };

      this.tl = anime
        .timeline({
          begin,
          easing: 'easeOutExpo',
        })
        .add(
          {
            targets: el.querySelectorAll('.menu-list__item'),
            opacity: [0, 1],
            translateX: ['-5em', '0em'],
            duration: 750,
            delay: anime.stagger(300),
          },
          500
        )
        .add(
          {
            targets: el.querySelectorAll('.menu__download'),
            opacity: [0, 1],
            translateY: ['3.5em', '0em'],
          },
          '-=500'
        );

      this.tl.finished.then(done);
    },

    onLeave(el, done) {
      if (!!this.tl) this.tl.pause();

      const begin = () => {
        el.classList.remove('menu_open');
      };

      // Revert previous side components
      if (!this.routeIsChanged && this.hasOwnProperty('lastSideComponents')) {
        this.$store.dispatch('side/setComponents', this.lastSideComponents);
      }

      this.routeIsChanged = false;

      const finished = () => {
        if(!this.isModalOpen) allowScroll();

        done();
      };

      this.tl = anime
        .timeline({
          easing: 'easeInExpo',
          begin,
        })
        .add(
          {
            targets: el.querySelectorAll('.menu-list__item'),
            opacity: 0,
            translateX: '-3.5em',
            duration: 300,
            delay: anime.stagger(100),
          },
          0
        )
        .add(
          {
            targets: el.querySelectorAll('.menu__download'),
            translateY: '3.5em',
            opacity: 0,
          },
          0
        );

      this.tl.finished.then(finished);
    },
  },
};
</script>

<style lang="scss">
.menu {
  display: flex;

  overflow: hidden;

  padding-top: 1em;
  padding-left: calc(#{percentage(2 / $grid-columns)} + #{$grid-gutter-width});

  @include media-breakpoint-up(md) {
    padding-left: calc(#{percentage(3 / $grid-columns)} + #{$grid-gutter-width});
  }
  @include media-breakpoint-up(lg) {
    padding-left: calc(#{percentage(2 / $grid-columns)} + #{$grid-gutter-width});
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: calc(170px - 125vw);
    z-index: 0;

    width: 250vw;
    height: 250vw;

    border-radius: 50%;
    background-color: $color-dark;

    opacity: 0;
    transform: translate(1%, -50%) scale(0);
    transition: transform 0.75s $easeOutQuad, opacity 0.3s ease 0.5s;

    @media (orientation: portrait) {
      left: -125vh;
      width: 250vh;
      height: 250vh;
    }
  }

  &_open {
    &::before {
      transform: translate(0, -50%) scale(1);
      opacity: 1;
      transition: transform 0.75s $easeOutQuad, opacity 0.3s ease;
    }
  }

  &__nav {
    margin-bottom: 0;
    @include media-breakpoint-up(sm) {
      margin-bottom: em(60);
      margin-top: em(80);
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: em(0);
      margin-top: 0;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 1;
  }

  &__download {
    z-index: 1;
    left: 0;
    bottom: 2em;
    white-space: nowrap;
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 2em;
    }
  }

  @include md-max {

    &::before {
      left: initial;
      right: calc(70px - 125vh)
    }
  }
}
</style>
