<template>
  <button class="order-btn social-link" @click.stop="toggleModal.call(null, 'order')">
    <span class="order-btn__icon">
      <svg
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.5 0.748993H19H1H0.5V0.733398H19.5V0.748993ZM0.5 13.9361H1H8.58579C8.81434 13.9361 9.03802 13.9894 9.24054 14.0897L9.2312 14.0992C9.03181 14.0032 8.81166 13.9517 8.58579 13.9517H0.5V13.9361ZM9.99459 14.7492L10 14.7437L13.6437 18.4442L14.5 19.3139V19.3249L9.99459 14.7492ZM19.5 13.9361V13.9517H16C15.1643 13.9517 14.5 14.6376 14.5 15.4673C14.5 14.6143 15.1788 13.9361 16 13.9361H19H19.5Z"
          fill="#90857F"
          stroke="#90857F"
          id="path2"
        />
        <path d="M5 5.3114H15V6.32745H5V5.3114Z" fill="#90857F" id="path4" />
        <path d="M5 8.35815H15V9.3739H5V8.35815Z" fill="#90857F" id="path6" />
        <path
          style="fill:#90857f;"
          d="M 1.011239,1.0249161 V 13.447356 H -0.00451098 V 1.0249161 Z"
          id="path6-5"
        />
        <path
          style="fill:#90857f;"
          d="M 19.981776,1.1035672 V 13.526007 h -1.01575 V 1.1035672 Z"
          id="path6-5-9"
        />
        <path
          style="fill:#90857f;"
          d="m 15.011055,15.386525 v 4.108691 h -1.01575 v -4.108691 z"
          id="path6-5-9-1"
        />
      </svg>
    </span>
    <span class="order-btn__title">Заказать дизайн</span>
  </button>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'OrderBtn',
  methods: {
    ...mapMutations({
      toggleModal: 'modals/toggle'
    }),
  }
};
</script>

<style lang="scss">
.order-btn {
  $this: &;
  $max-size-sm: calc(16.67vw - #{$grid-gutter-width / 2});

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-light-auxiliary;
  border: 0;

  font-size: 1rem;
  color: $color-auxiliary;

  position: relative;
  overflow: hidden;
  cursor: pointer;

  transition: width 1s $easeOutExpo;

  width: $max-size-sm;
  height: $max-size-sm;

  @include sm-min {
    height: rem(80);
    width: rem(185);
  }

  @include lg-min {
    width: rem(205);
  }

  @include xxl-min {
    width: rem(311, 16);
    height: rem(100, 16);
  }

  @include hover {
    text-decoration: underline;
  }

  &__title {
    color: inherit;
    white-space: nowrap;
    transition: opacity 0.5s, visibility 0.5s;

    @include sm-max {
      @include hidden;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s, visibility 0.5s;

    @include sm-min {
      @include hidden;
    }
  }

  &_short {
    width: $max-size-sm;

    @include sm-min {
      width: rem(80);
    }

    @include xxl-min {
      width: rem(100, 16);
    }

    @include hover {
      @include sm-min {
        width: rem(185);
      }

      @include lg-min {
        width: rem(205);
      }

      @include xxl-min {
        width: rem(311, 16);
      }

      #{$this}__title {
        @include sm-min {
          @include visible;
        }
      }
      #{$this}__icon {
        @include sm-min {
          @include hidden;
        }
      }
    }

    #{$this}__title {
      @include hidden;
    }

    #{$this}__icon {
      @include visible;
    }
  }
}
</style>
