<template>
  <transition name="preloader" :duration="{ enter: 1000, leave: 1000 }">
    <div v-if="isLoading" class="preloader">
      <div class="preloader__overflow" ref="overflow"></div>
      <div class="preloader__center">
        <div class="preloader__circles">
          <div class="preloader__circle-r1">&nbsp;</div>
          <div class="preloader__circle-r2">&nbsp;</div>
        </div>
        <svg class="preloader-logo" ref="logo" width="160" height="39" viewBox="0 0 160 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g fill="#fff">
            <g class="preloader-logo__todo">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.0337 34.7558C19.4059 34.7558 16.0853 31.3703 16.0853 27.1426C16.0853 22.9576 19.4488 19.529 24.0769 19.529C28.7058 19.529 32.0253 22.9148 32.0253 27.1426C32.0253 31.328 28.6629 34.7558 24.0337 34.7558ZM24.0337 22.5158C21.3773 22.5158 19.5346 24.5768 19.5346 27.1426C19.5346 29.666 21.4194 31.7701 24.0769 31.7701C26.7344 31.7701 28.5771 29.7083 28.5771 27.1426C28.5771 24.6192 26.6904 22.5158 24.0337 22.5158ZM24.0337 17.231C19.4059 17.231 16.0853 13.8451 16.0853 9.61695C16.0853 5.43195 19.4488 2.00333 24.0769 2.00333C28.705 2.00333 32.0253 5.38958 32.0253 9.61695C32.0253 13.8031 28.6618 17.231 24.0337 17.231ZM24.0337 4.9902C21.3773 4.9902 19.5346 7.0512 19.5346 9.61695C19.5346 12.1415 21.4194 14.2445 24.0769 14.2445C26.7344 14.2445 28.5771 12.1835 28.5771 9.61695C28.5771 7.09395 26.6904 4.9902 24.0337 4.9902ZM5.84471 34.5035H-0.00512695V19.7813H5.84471C10.5578 19.7813 13.8153 22.9576 13.8153 27.1426C13.8153 31.2856 10.5578 34.5035 5.84471 34.5035ZM5.84471 22.7052H3.29406V31.5803H5.84471C8.54394 31.5803 10.366 29.7927 10.366 27.1426C10.366 24.5352 8.54394 22.7052 5.84471 22.7052ZM8.15801 16.9786H4.8592V5.24258H0.294662V2.25683H12.7218V5.24258H8.15801V16.9786Z" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M37.6855 29.5978C39.1531 29.5978 40.3429 30.7735 40.3429 32.2232C40.3429 33.6726 39.1531 34.8478 37.6855 34.8478C36.2178 34.8478 35.0281 33.6726 35.0281 32.2232C35.0281 30.7735 36.2178 29.5978 37.6855 29.5978Z" />
            </g>
            <g class="preloader-logo__caption">
              <g class="preloader-logo__branding">
                <path d="M61.1491 7.812C62.1181 7.302 62.7301 6.384 62.7301 5.194C62.7301 3.341 61.2001 2.1 58.2251 2.1H52.4111V14H58.5651C61.6931 14 63.3251 12.81 63.3251 10.753C63.3251 9.257 62.4751 8.237 61.1491 7.812ZM57.8851 4.174C59.2281 4.174 59.9591 4.633 59.9591 5.568C59.9591 6.503 59.2281 6.979 57.8851 6.979H55.1481V4.174H57.8851ZM58.3611 11.926H55.1481V8.985H58.3611C59.7891 8.985 60.5541 9.461 60.5541 10.464C60.5541 11.484 59.7891 11.926 58.3611 11.926Z" />
                <path d="M67.7561 6.061V4.854H65.2231V14H67.8751V9.682C67.8751 7.931 68.8441 7.132 70.3061 7.132C70.5101 7.132 70.6801 7.149 70.9011 7.166V4.718C69.4901 4.718 68.4021 5.177 67.7561 6.061Z" />
                <path d="M76.1172 4.718C74.6552 4.718 73.1762 5.109 72.1732 5.823L73.1252 7.676C73.7882 7.149 74.7912 6.826 75.7602 6.826C77.1882 6.826 77.8682 7.489 77.8682 8.628H75.7602C72.9722 8.628 71.8332 9.75 71.8332 11.365C71.8332 12.946 73.1082 14.136 75.2502 14.136C76.5932 14.136 77.5452 13.694 78.0382 12.861V14H80.5202V8.781C80.5202 6.01 78.9052 4.718 76.1172 4.718ZM75.9132 12.351C74.9782 12.351 74.4172 11.909 74.4172 11.246C74.4172 10.634 74.8082 10.175 76.0492 10.175H77.8682V11.11C77.5622 11.943 76.7972 12.351 75.9132 12.351Z" />
                <path d="M88.4794 4.718C87.2384 4.718 86.1673 5.143 85.4534 5.925V4.854H82.9204V14H85.5723V9.478C85.5723 7.795 86.4904 7.013 87.7654 7.013C88.9384 7.013 89.6184 7.693 89.6184 9.172V14H92.2704V8.764C92.2704 5.976 90.6384 4.718 88.4794 4.718Z" />
                <path d="M101.438 1.386V5.823C100.775 5.075 99.8229 4.718 98.7009 4.718C96.1169 4.718 94.1279 6.554 94.1279 9.427C94.1279 12.3 96.1169 14.136 98.7009 14.136C99.9249 14.136 100.894 13.745 101.557 12.946V14H104.09V1.386H101.438ZM99.1599 11.96C97.8339 11.96 96.8139 11.008 96.8139 9.427C96.8139 7.846 97.8339 6.894 99.1599 6.894C100.469 6.894 101.489 7.846 101.489 9.427C101.489 11.008 100.469 11.96 99.1599 11.96Z" />
                <path d="M107.87 3.579C108.856 3.579 109.519 2.933 109.519 2.049C109.519 1.233 108.856 0.621002 107.87 0.621002C106.884 0.621002 106.221 1.267 106.221 2.1C106.221 2.933 106.884 3.579 107.87 3.579ZM106.544 14H109.196V4.854H106.544V14Z" />
                <path d="M117.217 4.718C115.976 4.718 114.905 5.143 114.191 5.925V4.854H111.658V14H114.31V9.478C114.31 7.795 115.228 7.013 116.503 7.013C117.676 7.013 118.356 7.693 118.356 9.172V14H121.008V8.764C121.008 5.976 119.376 4.718 117.217 4.718Z" />
                <path d="M130.43 4.854V6.027C129.733 5.143 128.679 4.718 127.404 4.718C124.871 4.718 122.831 6.469 122.831 9.138C122.831 11.807 124.871 13.558 127.404 13.558C128.594 13.558 129.597 13.184 130.294 12.419V12.81C130.294 14.459 129.478 15.309 127.608 15.309C126.435 15.309 125.16 14.901 124.378 14.272L123.324 16.176C124.395 17.009 126.078 17.434 127.812 17.434C131.11 17.434 132.946 15.87 132.946 12.47V4.854H130.43ZM127.931 11.382C126.537 11.382 125.517 10.481 125.517 9.138C125.517 7.795 126.537 6.894 127.931 6.894C129.325 6.894 130.328 7.795 130.328 9.138C130.328 10.481 129.325 11.382 127.931 11.382Z" />
              </g>
              <g class="preloader-logo__digital">
                <path d="M63.0021 33.521L61.6081 32.229C62.1181 31.464 62.4751 30.546 62.6961 29.526L60.5711 28.863C60.4351 29.56 60.2311 30.189 59.9761 30.716L57.8001 28.693C59.4151 27.809 60.1291 26.908 60.1291 25.684C60.1291 24.001 58.7691 22.947 56.7121 22.947C54.4681 22.947 53.0061 24.137 53.0061 25.871C53.0061 26.721 53.3631 27.486 54.2301 28.387C52.4111 29.407 51.6121 30.444 51.6121 31.94C51.6121 33.844 53.5331 35.204 56.1511 35.204C57.6811 35.204 59.0411 34.728 60.1291 33.878L61.5571 35.204L63.0021 33.521ZM56.7121 24.749C57.4771 24.749 57.8851 25.157 57.8851 25.735C57.8851 26.279 57.5111 26.721 56.3381 27.35C55.6071 26.636 55.4201 26.296 55.4201 25.837C55.4201 25.208 55.8961 24.749 56.7121 24.749ZM56.3381 33.13C55.0291 33.13 54.2131 32.518 54.2131 31.651C54.2131 30.92 54.6041 30.376 55.6921 29.747L58.5651 32.433C57.9191 32.892 57.1541 33.13 56.3381 33.13Z" />
                <path d="M64.7792 35H70.1852C74.0782 35 76.7472 32.654 76.7472 29.05C76.7472 25.446 74.0782 23.1 70.1852 23.1H64.7792V35ZM67.5332 32.739V25.361H70.0492C72.4122 25.361 73.9592 26.772 73.9592 29.05C73.9592 31.328 72.4122 32.739 70.0492 32.739H67.5332Z" />
                <path d="M79.9631 24.579C80.9491 24.579 81.6121 23.933 81.6121 23.049C81.6121 22.233 80.9491 21.621 79.9631 21.621C78.9771 21.621 78.3141 22.267 78.3141 23.1C78.3141 23.933 78.9771 24.579 79.9631 24.579ZM78.6371 35H81.2891V25.854H78.6371V35Z" />
                <path d="M90.6694 25.854V27.027C89.9724 26.143 88.9184 25.718 87.6434 25.718C85.1104 25.718 83.0704 27.469 83.0704 30.138C83.0704 32.807 85.1104 34.558 87.6434 34.558C88.8334 34.558 89.8364 34.184 90.5334 33.419V33.81C90.5334 35.459 89.7174 36.309 87.8474 36.309C86.6744 36.309 85.3994 35.901 84.6174 35.272L83.5634 37.176C84.6344 38.009 86.3174 38.434 88.0514 38.434C91.3494 38.434 93.1854 36.87 93.1854 33.47V25.854H90.6694ZM88.1704 32.382C86.7764 32.382 85.7564 31.481 85.7564 30.138C85.7564 28.795 86.7764 27.894 88.1704 27.894C89.5644 27.894 90.5674 28.795 90.5674 30.138C90.5674 31.481 89.5644 32.382 88.1704 32.382Z" />
                <path d="M96.9797 24.579C97.9657 24.579 98.6287 23.933 98.6287 23.049C98.6287 22.233 97.9657 21.621 96.9797 21.621C95.9937 21.621 95.3307 22.267 95.3307 23.1C95.3307 23.933 95.9937 24.579 96.9797 24.579ZM95.6537 35H98.3057V25.854H95.6537V35Z" />
                <path d="M105.952 32.688C105.663 32.909 105.272 33.028 104.881 33.028C104.167 33.028 103.742 32.603 103.742 31.821V28.098H106.02V26.058H103.742V23.831H101.09V26.058H99.679V28.098H101.09V31.855C101.09 34.031 102.348 35.136 104.507 35.136C105.323 35.136 106.122 34.949 106.666 34.558L105.952 32.688Z" />
                <path d="M111.844 25.718C110.382 25.718 108.903 26.109 107.9 26.823L108.852 28.676C109.515 28.149 110.518 27.826 111.487 27.826C112.915 27.826 113.595 28.489 113.595 29.628H111.487C108.699 29.628 107.56 30.75 107.56 32.365C107.56 33.946 108.835 35.136 110.977 35.136C112.32 35.136 113.272 34.694 113.765 33.861V35H116.247V29.781C116.247 27.01 114.632 25.718 111.844 25.718ZM111.64 33.351C110.705 33.351 110.144 32.909 110.144 32.246C110.144 31.634 110.535 31.175 111.776 31.175H113.595V32.11C113.289 32.943 112.524 33.351 111.64 33.351Z" />
                <path d="M118.647 35H121.299V22.386H118.647V35Z" />
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </transition>
</template>

<script>
export let preloaderInstance = null;
let startTime = 0

export default {
  name: 'Preloader',
  data() {
    return {
      isLoading: true
    }
  },
  created() {
    preloaderInstance = this;
  },
  methods: {
    loading(toAwait = false, cb) {
      startTime = performance.now();
      this.isLoading = true;
      if (!toAwait) setTimeout(this.loaded, 0)
      setTimeout(cb, 500)
    },
    loaded() {
      let delay = 2800 - (performance.now() - startTime);
      if (delay < 0) delay = 0;
      setTimeout(() => {
        this.isLoading = false;
      }, delay);
    }
  }
}
</script>

<style lang="scss">
.preloader
{
  $self: &;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: $color-dark;
  overflow: hidden;
  animation: preloader-forced-termination 1s 30s;
  animation-fill-mode: both;

  &-leave-to, &-enter-active {
    background: transparent;
  }

  &__center
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }

  &__overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-auxiliary;
    animation: preloader__overflow_in 1s ease 1.5s;
    animation-fill-mode: both;

    .preloader-enter-active & {
      background: $color-dark;
      animation: preloader__overflow_in 1s;
      animation-fill-mode: both;
    }

    .preloader-leave-active & {
      animation: preloader__overflow_out 1s ease;
      animation-fill-mode: both;
    }
  }
}

@keyframes preloader-forced-termination
{
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes preloader__overflow_in
{
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes preloader__overflow_out
{
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.preloader-logo {
  animation: preloader-logo_in 1.2s ease 0.3s;
  animation-fill-mode: both;

  .preloader-enter-active & {
    opacity: 0;
    transition: opacity 1s;
  }
  .preloader-enter-to & {
    opacity: 1;
  }

  .preloader-leave-active & {
    animation: preloader-logo_out 1s ease;
    animation-fill-mode: both;
  }

  &__caption
  {
    animation: preloader-logo__caption_in 1s ease 0.3s;
    animation-fill-mode: both;

    .preloader-leave-active & {
      animation: preloader-logo__caption_out 1s ease;
      animation-fill-mode: both;
    }
  }
  &__digital
  {
    animation: preloader-logo__digital_in 1s ease 0.3s;
  }
}

@keyframes preloader-logo_in
{
  0% {
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes preloader-logo__caption_in
{
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes preloader-logo__digital_in
{
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes preloader-logo_out
{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes preloader-logo__caption_out
{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(25px);
  }
}

.preloader__circle-r1 {
  position: absolute;
  left: -3em;
  top:  -6em;

  width: 15em;
  height: 15em;

  border: 0.06em solid transparent;
  border-left-color: #fff;
  border-radius: 50%;

  animation: fadeIn 2s 4s, spin 3s linear infinite;
  animation-fill-mode: both;
}

.preloader__circle-r2 {
  position: absolute;
  left: -2.5em;
  top: -5.5em;

  width: 14em;
  height: 14em;

  border: 0.06em solid transparent;
  border-right-color: #fff;
  border-radius: 50%;

  animation: fadeIn 2s 4s, spin 1.5s linear infinite;
  animation-fill-mode: both;
}
.preloader-leave-active .preloader__circles {
  animation: fadeOut 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
</style>
