<template>
  <section class="promo">
    <div class="promo__container container container--down-md-align-right">
      <div class="promo__side promo__side-left">
        <div class="text-nowrap">
          <h1 v-if="isLoaded && desktop" class="promo__title text-wrap">
            <MainTitle
              v-for="(item, i) in title"
              :item="item"
              :last="isLast(i, title)"
              :key="i + item.line"
            />
          </h1>
          <h1 v-if="isLoaded && !desktop" class="promo__title text-wrap">
            <MainTitle
              v-for="(item, i) in titleMobile"
              :item="item"
              :last="isLast(i, titleMobile)"
              :key="i + item.line"
            />
          </h1>
          <span class="promo__dots">:</span>
        </div>
        <ul v-if="subTitles" class="promo__list no-list">
          <li
            v-for="item in subTitles"
            :key="item.subtitle"
            class="promo__item"
            v-html="item.subtitle"
          ></li>
        </ul>
      </div>
      <div class="promo__side promo__side_nav">
        <ul v-if="promoList" class="promo__nav-list">
          <li
            v-for="link in promoList"
            :key="link.name + link.count"
            class="promo__nav-item"
          >
            <a
              :href="`/cases#${translite(link.name)}`"
              class="promo__nav-link"
              @click.prevent="clickHandler(`/cases#${translite(link.name)}`)"
            >
              <div class="promo__nav-text">{{ link.title || link.name }}</div>
              <div class="promo__nav-count">
                <div class="promo__nav-spiner spiner">
                  <vue-arc-text
                    ref="arctext"
                    :text="curved[0].text"
                    :arc="+curved[0].arc"
                    :direction="curved[0].direction"
                    class="promo__nav-curved"
                  ></vue-arc-text>
                  <vue-arc-text
                    ref="arctext"
                    :text="curved[1].text"
                    :arc="+curved[1].arc"
                    :direction="curved[1].direction"
                    class="promo__nav-curved"
                  ></vue-arc-text>
                </div>
                <span class="promo__nav-centered">{{ link.count }}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import translite from "~/scripts/helpers/translite";
import { preloaderInstance } from "~/components/Preloader";
import MainTitle from "~/components/MainTitle";
import VueArcText from "vue-arc-text";
export default {
  components: {
    VueArcText,
    MainTitle,
  },
  data: () => ({
    isMounted: false,
    windowWidth: window.innerWidth,
    curved: [
      {
        text: "Выполнили",
        direction: 1,
        arc: 55,
      },
      {
        text: "Проектов",
        direction: -1,
        arc: 55,
      },
    ],
  }),
  computed: {
    isLoaded() {
      return !preloaderInstance.isLoading && this.isMounted;
    },
    ...mapGetters({
      promoList: "promo/list",
      title: "promo/title",
      titleMobile: "promo/titleMobile",
      subTitles: "promo/subTitles",
      ending: "promo/ending",
    }),
    desktop() {
      return this.windowWidth > 768;
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.isMounted = true;
    });
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
      console.log(this.isMobile);
    });
  },
  methods: {
    splitTitle(item) {
      if (item.selected == "") return [item.line];
      console.log(item.line.split(item.selected));
      return item.line.split(item.selected);
    },
    selectionArray(item) {
      if (item.selected == "") return item.selected;
      return item.selected.split("");
    },
    translite(slug) {
      return translite(slug);
    },
    clickHandler(to) {
      preloaderInstance.loading(true, () => {
        this.$router.push(
          to,
          () => {
            preloaderInstance.loaded();
          },
          () => {
            preloaderInstance.loaded();
          }
        );
      });
    },
    isLast(i, arr) {
      return i + 1 !== arr.length;
    },
  },
};
</script>

<style lang="scss" scoped>
.promo {
  background-color: $color-dark;
  margin: 0;
  padding: 100px 0;
  padding-bottom: 50px;
  color: #fff;

  &__container {
    display: flex;
  }

  &__side {
    &-left {
      width: (5/12) * 100vw;
    }

    &_nav {
      width: (3/12) * 100vw;
      padding-left: 30px;
    }
  }

  &__title,
  &__dots {
    display: inline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: rem(50, 16);
    line-height: rem(60, 16);
    letter-spacing: -0.05em;
    color: #90857f;
  }

  &__list {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: rem(18, 16);
    line-height: rem(32, 16);
    text-transform: uppercase;
  }

  &__nav {
    &-text {
      font-weight: 500;
    }
    &-list {
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {
      &:first-child {
        margin-top: 0;
      }

      &::before {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-white;
        top: calc(50% - 2px);
        left: -30px;
      }
    }

    &-link {
      display: block;
      position: relative;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: rem(30, 16);
      line-height: rem(48, 16);
      color: $color-white;

      &:hover {
        text-decoration: none;

        .promo__nav-count {
          opacity: 1;
          z-index: initial;
        }
      }
    }

    &-count {
      font-weight: 700;
      opacity: 0;
      position: absolute;
      top: 50%;
      margin-top: -54px;
      right: -140px;
      z-index: -1;
      color: $color-auxiliary;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      text-align: center;
      transform: rotate(10deg);
      transition: opacity 0.4s;
    }

    &-spiner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-curved {
      font-weight: 500;
      font-size: rem(13, 16);
      line-height: rem(16, 16);
      text-transform: uppercase;

      &:first-child {
        padding-bottom: 13px;
      }
    }

    &-centered {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -24px;
      transform: rotate(5deg);
    }
  }

  @include xxl-max {
    &__title,
    &__dots {
      font-size: rem(45, 16);
      line-height: rem(54, 16);
    }
    &__nav {
      &-link {
        font-size: rem(25, 16);
        line-height: rem(40, 16);
      }
    }
    &__item {
      font-size: rem(18, 16);
      line-height: rem(24, 16);
    }
  }

  @include xl-max {
    &__title,
    &__dots {
      font-size: rem(30, 16);
      line-height: rem(40, 16);
    }
    &__nav {
      &-link {
        font-size: rem(20, 16);
        line-height: rem(30, 16);
      }
    }
    &__item {
      font-size: rem(16, 16);
      line-height: rem(19.5, 16);
    }
  }

  @include lg-max {
    &__container {
      flex-direction: column;
    }
    &__side {
      width: 100%;
      &_nav {
        width: 100%;
        padding-left: 0;
      }
    }
    &__nav {
      &-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: rem(30, 16);
        margin-top: 40px;
      }
      &-item {
        width: 50%;
        margin-top: 0;
        margin-bottom: rem(15, 16);
      }
    }

    &__item {
      margin: 15px 0;
    }
  }

  @include md-max {
    padding-top: 0;
    padding-bottom: rem(30, 16);
    &__container {
      margin-left: percentage(1/6);
      padding: 0;
    }
    &__title,
    &__dots {
      font-size: rem(20, 16);
      line-height: rem(24, 16);
    }
    &__nav {
      &-list {
        padding-left: rem(20, 16);
        margin-top: 20px;
      }
      &-item {
        width: 100%;
        margin-bottom: rem(5, 16);

        &::before {
          left: rem(-20, 16);
        }
      }
      &-link {
        font-size: rem(16, 16);
        line-height: rem(24, 16);
      }
    }
    &__item {
      font-size: rem(14, 16);
      line-height: rem(17, 16);
      margin: 0 0 10px;
      & br {
        display: block;
      }
    }
    &__list {
      margin-top: 10px;
    }
  }
}
</style>
