<template>
  <div class="want-same bg-light-auxiliary pt-5 pb-5 cursor-pointer" @click="$store.commit('modals/open', 'order')">
    <div class="container">
      <div class="row">
        <div class="col-md text-center text-md-left">
          <h3>Хотите так же? <br> Расскажите о вашем проекте</h3>
        </div>
        <div class="col-md text-center text-md-right">
          <div class="circle"><span class="nav-item color-dark">Написать</span></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "want-same"
}
</script>
