<section>
  <div class="container container--small">
    <h2>NEFTEZAVODMONTAZH</h2>
    <p class="big color-dark">
      Компания Techinhouse занимается разработкой
      и интеграцией систем умного дома для автоматизации жилых и коммерческих объектов.
    </p>
    <p class="big color-dark">
      The Company was established in June 1944 in the city of Grozny to restore the oil refining, petrochemical, oil and gas industry facilities destroyed by the war.Now NZM is the largest construction company in Russia, both in terms of the number of employees and the volume of work performed.  The company's portfolio includes projects with such giants as: Gazprom, Lukoi, Rosneft, Tatneft, Total and others.
    </p>
    <p class="big color-dark">
      The main task was: to refresh the corporate identity, maintaining continuity and develop
      a system of rules of use. The result was a brutal industrial style with a slight share
      of asceticism, reflecting the company's philosophy. We also took photographs and received authentic content reflecting the real atmosphere of Russian production, which subsequently formed the basis for the creation of the brandbook.
    </p>
    <p class="big color-dark">
      Компания была организована в июне 1944 года в городе Грозном для восстановления разрушенных войной объектов нефтеперерабатывающей, нефтехимической, нефтяной
      и газовой отрасли. Сейчас, "НЗМ" является крупнейшей монтажной организацией
      в России, как по численности персонала, так и по объёмам выполненных работ.
      В портфолио компании проекты с такими гигантами как: Газпром, Лукой, Роснефть, Татнефть, Total и др.
    </p>
    <p class="big color-dark">
      Основная задача была: освежить фирменный стиль, сохранив преемственность
      и разработать систему правил пользования. В итоге получился брутальный промышленный стиль с легкой долей аскетизма, отражающий философию компании. Так же мы провели фотосъемку и получили аутентичный контент, отражающий настоящую атмосферу Российского производства, который в последствии лег в основу создания брендбука.
    </p>
  </div>
</section>

<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img1.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img2.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img3.jpg" alt="" class="w-100"></div>
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img4.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img5.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img6.jpg" alt="" class="w-100"></div>
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img7.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img8.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img9.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img10.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img11.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img12.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img13.jpg" alt="" class="w-100"></div>
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img14.jpg" alt="" class="w-100"></div>
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img15.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img16.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img17.jpg" alt="" class="w-100"></div>
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img18.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img19.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img20.jpg" alt="" class="w-100"></div>
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img21.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img23.jpg" alt="" class="w-100"></div>
    <div class="col-md-6"><img src="/cases/neftezavodmontazh/img24.jpg" alt="" class="w-100"></div>
    <div class="col-md-12"><img src="/cases/neftezavodmontazh/img25.gif" alt="" class="w-100"></div>
  </div>
</div>
