@import "keyframes";

// Easings
.easeSmooth {
  transition-timing-function: $easeSmooth !important;
  animation-timing-function: $easeSmooth !important;
}
.easeCustom {
  transition-timing-function: $easeCustom !important;
  animation-timing-function: $easeCustom !important;
}
.snap {
  transition-timing-function: $snap !important;
  animation-timing-function: $snap !important;
}
.easeOutCubic {
  transition-timing-function: $easeOutCubic !important;
  animation-timing-function: $easeOutCubic !important;
}
.easeInOutCubic {
  transition-timing-function: $easeInOutCubic !important;
  animation-timing-function: $easeInOutCubic !important;
}
.easeInCirc {
  transition-timing-function: $easeInCirc !important;
  animation-timing-function: $easeInCirc !important;
}
.easeOutCirc {
  transition-timing-function: $easeOutCirc !important;
  animation-timing-function: $easeOutCirc !important;
}
.easeInOutCirc {
  transition-timing-function: $easeInOutCirc !important;
  animation-timing-function: $easeInOutCirc !important;
}
.easeInExpo {
  transition-timing-function: $easeInExpo !important;
  animation-timing-function: $easeInExpo !important;
}
.easeOutExpo {
  transition-timing-function: $easeOutExpo !important;
  animation-timing-function: $easeOutExpo !important;
}
.easeInOutExpo {
  transition-timing-function: $easeInOutExpo !important;
  animation-timing-function: $easeInOutExpo !important;
}
.easeInQuad {
  transition-timing-function: $easeInQuad !important;
  animation-timing-function: $easeInQuad !important;
}
.easeOutQuad {
  transition-timing-function: $easeOutQuad !important;
  animation-timing-function: $easeOutQuad !important;
}
.easeInOutQuad {
  transition-timing-function: $easeInOutQuad !important;
  animation-timing-function: $easeInOutQuad !important;
}
.easeInQuart {
  transition-timing-function: $easeInQuart !important;
  animation-timing-function: $easeInQuart !important;
}
.easeOutQuart {
  transition-timing-function: $easeOutQuart !important;
  animation-timing-function: $easeOutQuart !important;
}
.easeInOutQuart {
  transition-timing-function: $easeInOutQuart !important;
  animation-timing-function: $easeInOutQuart !important;
}
.easeInQuint {
  transition-timing-function: $easeInQuint !important;
  animation-timing-function: $easeInQuint !important;
}
.easeOutQuint {
  transition-timing-function: $easeOutQuint !important;
  animation-timing-function: $easeOutQuint !important;
}
.easeInOutQuint {
  transition-timing-function: $easeInOutQuint !important;
  animation-timing-function: $easeInOutQuint !important;
}
.easeInSine {
  transition-timing-function: $easeInSine !important;
  animation-timing-function: $easeInSine !important;
}
.easeOutSine {
  transition-timing-function: $easeOutSine !important;
  animation-timing-function: $easeOutSine !important;
}
.easeInOutSine {
  transition-timing-function: $easeInOutSine !important;
  animation-timing-function: $easeInOutSine !important;
}
.easeInBack {
  transition-timing-function: $easeInBack !important;
  animation-timing-function: $easeInBack !important;
}
.easeOutBack {
  transition-timing-function: $easeOutBack !important;
  animation-timing-function: $easeOutBack !important;
}
.easeInOutBack {
  transition-timing-function: $easeInOutBack !important;
  animation-timing-function: $easeInOutBack !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.list-complete-item.animated {
  transition: all 1s;
}
.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}
