.bg-white {
  background: $color-white;
}
.bg-light {
  background: $color-light;
}
.bg-light-themes {
  background: $color-light;
}
.bg-light-auxiliary {
  background: $color-light-auxiliary;
}
.bg-auxiliary {
  background: $color-auxiliary;
}
.bg-dark {
  background: $color-dark;
}

.color-white {
  color: $color-white;
}
.color-light {
  color: $color-light;
}
.color-dark {
  color: $color-dark;
}
.color-light-auxiliary {
  color: $color-light-auxiliary;
}
.color-auxiliary {
  color: $color-auxiliary;
}

.dark-theme,
.dark-theme * {
  color: $color-white;
}
