html {
  font-family: "Montserrat", sans-serif;
  color: $color-auxiliary;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  word-spacing: 0.06em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  @include media-breakpoint-up(md) {
    line-height: 2;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  &.no-scroll {
    overflow: hidden;
    margin-bottom: 100vh;
    background-color: $color-light;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

.text-white {
  color: $color-white;
}

.list-unstyle {
  margin: 0;
  padding: 0;
  list-style: none;
}
