input,
textarea {
  font-size: 1em;

  display: block;

  width: 100%;
  padding: 0 0 0.5em;
  margin-top: 1.4em;
  margin-bottom: 1.2em;

  color: $color-light-auxiliary;
  font-weight: 400;
  letter-spacing: 0.05em;

  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
  border-bottom: 1px solid $color-light-auxiliary;
  border-radius: 0;

  transform: translate(0);

  &:focus {
    outline: none;
  }
}
textarea {
  height: 1.6rem;
}
