@import "~bootstrap/scss/bootstrap-grid";

section {
  margin-top:    100px;
  margin-bottom: 100px;

  @include media-breakpoint-down(sm) {
    margin-top:    50px;
    margin-bottom: 50px;
  }
}

.screen {
  position: relative;
  min-height: unset;

  @include media-breakpoint-up(lg) {
    min-height: 100vh;
  }
}

.container {
  width: percentage(8 / $grid-columns);

  &--small {
    @include media-breakpoint-up(lg) {
      width: percentage(6 / $grid-columns);
      max-width: 955px;;
    }
  }
}

@include media-breakpoint-down(md) {
  .container--down-md-align-right {
    width: percentage(8 / $grid-columns);
    margin-left: percentage(2 / $grid-columns);
    margin-right: percentage(2 / $grid-columns);
  }
}

@include media-breakpoint-down(xs) {
  .container--down-md-align-right {
    width: percentage(10 / $grid-columns);
    margin-left: percentage(2 / $grid-columns);
  }
}

.no-gutters {
  img {
    vertical-align: middle;
  }
}
