@import "~bootstrap/scss/utilities";

.w-100 {
  width: 100%;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border: 1px solid $color-auxiliary;
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}
