@import "~bootstrap/scss/mixins";

// breakpoints min-width
@mixin sm-min {
  @include media-breakpoint-up(sm) {
    @content;
  }
}

@mixin md-min {
  @include media-breakpoint-up(md) {
    @content;
  }
}

@mixin lg-min {
  @include media-breakpoint-up(lg) {
    @content;
  }
}

@mixin xl-min {
  @include media-breakpoint-up(xl) {
    @content;
  }
}

@mixin xxl-min {
  @include media-breakpoint-up(xxl) {
    @content;
  }
}

// breakpoints max-width
@mixin sm-max {
  @include media-breakpoint-down(xs) {
    @content;
  }
}

@mixin md-max {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

@mixin lg-max {
  @include media-breakpoint-down(md) {
    @content;
  }
}

@mixin xl-max {
  @include media-breakpoint-down(lg) {
    @content;
  }
}

@mixin xxl-max {
  @include media-breakpoint-down(xl) {
    @content;
  }
}

// Visibility
@mixin hidden {
  visibility: hidden;
  opacity: 0;
}
@mixin visible {
  visibility: visible;
  opacity: 1;
}

// add hover only on non touch screen devices
@mixin hover {
  .no-touch &:hover {
    @content;
  }
}

@mixin list-unstyle {
  padding: 0;
  margin: 0;
  list-style: none;
}
