h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
p,
ul,
ol {
  font-size: 1rem;
  margin: 1.2rem 0;
  @include media-breakpoint-up(md) {
    margin: 1.875rem 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  color: $color-dark;

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 3.6em; // ~50px
  font-weight: 800;
  letter-spacing: -0.03em;

  @include media-breakpoint-down(sm) {
    font-size: 2.15em; // ~22px
  }

  @include media-breakpoint-up(md) {
    font-size: 3.14rem;
    line-height: 1.06;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 4rem; // ~64px
  }
}

h2,
.h2 {
  font-size: 2.145em; // ~30px

  @include media-breakpoint-down(sm) {
    font-size: 1.45em; // ~20px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 3.125em; // ~50px
  }
}

h3,
.h3 {
  font-size: 1.58em; // ~22px

  @include media-breakpoint-down(sm) {
    font-size: 1.143em; // ~16px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 2.125em; // ~34px
  }
}

h4,
.h4 {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

h5,
.h5 {
  font-size: 0.875em;
  color: $color-auxiliary;
  letter-spacing: 0.06em;
  font-weight: bold;
}
h6,
.h6 {
  font-size: 0.75em;
  color: $color-auxiliary;
  letter-spacing: 0.06em;
}

a {
  color: $color-auxiliary;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
i {
  font-style: normal;
}
ul {
  list-style: none;
  padding: 0 0 0 2em;

  li {
    position: relative;
    margin: 0.6rem 0;

    &:before {
      content: "";
      display: inline-block;

      position: absolute;
      top: 1em;
      left: -1.9em;

      width: 1em;
      height: 0.06em;

      background: $color-auxiliary;
    }
  }
}
ul.no-list {
  li:before {
    display: none;
  }
}

small,
.small {
  font-size: 0.8em;
  line-height: 1.86;
}

big,
.big {
  font-size: 1.2em;
  line-height: 1.6;
}

.social-link {
  font-weight: 700;
  color: $color-dark;

  @include xxl-min {
    font-size: em(14, 16);
  }

  &__title {
    @include sm-max {
      display: none;
    }
  }

  &__title-sm {
    @include sm-min {
      display: none;
    }
  }
}

.nav-item {
  font-size: 0.875em;
  font-weight: bold;
}

.menu-item {
  color: $color-dark;
  font-weight: 800;
  font-size: 2.6rem; // ~36px
  line-height: 1.67;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 1.7em; // ~24px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 3.125em; // ~50px
  }
}

.menu-nav-item {
  color: $color-dark;
  font-weight: 600;
  font-size: 0.9rem; // ~14px
  line-height: 1.67;

  @include media-breakpoint-down(sm) {
    font-size: 0.9rem; // ~14px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 0.9rem; // ~14px
  }
}

.menu-sub-item {
  color: $color-dark;
  font-weight: 800;
  font-size: 1.43em; // ~20px
  line-height: 3;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 1.14em; // ~16px
  }

  @include media-breakpoint-up(xxl) {
    font-size: 1.5em; // ~24px
  }
}
