<template>
  <transition name="fade" :css="false" @leave="onLeave">
    <div class="burger" :class="classes" @click="toggleMenu">
      <div class="burger__burger">
        <div class="burger__line"></div>
        <div class="burger__line"></div>
        <div class="burger__line"></div>
      </div>
      <div class="burger__label-wrap">
        <span class="burger__label burger__open-label">меню</span>
        <span class="burger__label burger__close-label">закрыть меню</span>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import fade from "~/mixins/transitions/fade";

export default {
  name: "Burger",
  props: ["side", "pos", "contrast"],
  mixins: [fade],
  computed: {
    ...mapState({
      menuIsOpen: (state) => state.menu.isOpen,
    }),
    classes() {
      return {
        burger_close: this.menuIsOpen,
        burger_open: !this.menuIsOpen,
      };
    },
  },
  methods: {
    ...mapMutations({
      toggleMenu: "menu/toggle",
    }),
  },
};
</script>

<style lang="scss">
.burger {
  display: inline-flex;
  align-items: center;

  font-weight: bold;
  cursor: pointer;
  user-select: none;

  &__burger {
    position: relative;
    width: em(12);
    height: em(16);
    margin-right: 0.5em;
  }

  &__line {
    position: absolute;
    top: 50%;
    margin-top: -0.08em;

    height: 2px;
    width: 100%;

    background: $color-white;

    transition: transform 0.5s ease;

    &:first-child {
      transform: translateY(-0.5em);
    }
    &:last-child {
      transform: translateY(0.5em);
    }

    .dark-theme & {
      background: $color-white;
    }
  }

  @media (hover: hover) {
    &:hover &__line {
      transform: translateY(0);
    }
  }

  &_close &__line {
    transform: translateY(0) rotate(45deg) !important;

    &:last-child {
      transform: translateY(0) rotate(-45deg) !important;
    }
  }

  &__label-wrap {
    position: relative;
    width: 43px;
    height: em(16);
    white-space: nowrap;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity, transform;
    transition-duration: 0.75s;
    transition-timing-function: ease;

    font-size: rem(14) !important;
    line-height: rem(17) !important;
  }

  &__close-label {
    opacity: 0;
    transform: translateX(8em);
  }

  &_close &__close-label {
    opacity: 1;
    transform: translateX(0);
  }

  &__open-label {
    opacity: 1;
    transform: translateX(0);
  }

  &_close &__open-label {
    opacity: 0;
    transform: translateX(8em);
  }

  @include md-max {
    &__close-label {
      display: none;
    }
  }
}
</style>
