<template>
  <transition name="fadeDown" :css="false" @leave="onLeave">
    <a href="#" class="lang">en</a>
  </transition>
</template>

<script>
import fadeDown from "~/mixins/transitions/fadeDown";

export default {
  mixins: [ fadeDown ]
};
</script>

<style lang="scss">
.lang {
  display: inline-block;
  position: relative;
  top: -2em;
}
</style>
