<template>
  <transition name="fade" :css="false" @leave="onLeave">
    <div class="side-mail">
      <a class="side-mail__link" href="mailto:hello@todoagency.ru">hello@todoagency.ru</a>
    </div>
  </transition>
</template>

<script>
import fade from "~/mixins/transitions/fade";

export default {
  name: 'Mail',
  props: ['side', 'pos', 'contrast'],
  mixins: [fade]
}
</script>

<style lang="scss">
  .side-mail {
    display: inline-block;
  }

</style>
