<template>
  <transition name="fadeDown" :css="false">
    <div class="scrolling_button" @click="clickHandler" :class="classes">
      <div class="scrolling_button__icon scrolling_button__icon-down"><ScrollDownSVG /></div>
      <div class="scrolling_button__icon scrolling_button__icon-up"><ScrollUpSVG /></div>
    </div>
  </transition>
</template>

<script>
import anime from 'animejs';
import ScrollDownSVG     from "~/components/svg/ScrollDownSVG";
import ScrollUpSVG     from "~/components/svg/ScrollUpSVG";

export default {
  components: {ScrollDownSVG, ScrollUpSVG },
  name: 'ScrollingNew',
  props: [ 'side', 'pos', 'contrast' ],
  data: () => ({
    scrollTo: 'down',
    pageInTop: true,
  }),
  computed: {
    classes() {
      return {
        'scrolling_down': this.scrollTo === 'down',
        'scrolling_up': this.scrollTo === 'up',
        'scrolling_page-top': this.pageInTop
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', this.scrollHandler);
    this.scrollHandler();
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.scrollHandler);
  },
  methods: {
    clickHandler() {
      if (!!this.currentAnim && !this.currentAnim.paused) return false;
      const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;

      if (this.scrollTo === 'up') {
        this.currentAnim = anime({
          targets: scrollElement,
          scrollTop: 0,
          duration: scrollElement.scrollTop * 0.5,
          easing: 'cubicBezier(.5,0,0,1)'
        });
      } else {
        this.currentAnim = anime({
          targets: scrollElement,
          scrollTop: scrollElement.scrollTop + window.innerHeight,
          duration: 750,
          easing: 'easeInOutQuart'
        });
      }
    },
    scrollHandler() {
      this.pageInTop = window.pageYOffset < 50;
      this.scrollTo = (window.innerHeight * 1.5 + window.scrollY) >= document.body.offsetHeight ? 'up' : 'down';
    },
  }
}
</script>

<style lang="scss">
.scrolling_button
{
  display: block;
  overflow: hidden;
  position: fixed;
  width: 70px;
  height: 70px;
  background: $color-auxiliary;
  border-radius: 35px;
  cursor: pointer;
  user-select: none;
  right: 50px;
  bottom: 50px;

  &__icon {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: opacity, transform;
    transition-duration: 1s;

    svg {
      margin: 0 auto;
    }
  }

  &__icon-down {
    opacity: 1;
    transform: translateY(0);

    .scrolling_up & {
      opacity: 0;
      transform: translateY(-70px);
    }
  }

  &__icon-up {
    opacity: 0;
    transform: translateY(0);

    .scrolling_up & {
      opacity: 1;
      transform: translateY(-70px);
    }
  }
}
</style>
