<template>
  <transition name="fadeDown" :css="false" @leave="onLeave">
    <div class="scrolling" @click="clickHandler" :class="classes">
      <div class="scrolling__line">&nbsp;</div>
      <div class="scrolling__label scrolling__label-down">крути вниз</div>
      <div class="scrolling__label scrolling__label-up">в начало</div>
    </div>
  </transition>
</template>

<script>
import anime from 'animejs';

export default {
  name: 'Scrolling',
  props: [ 'side', 'pos', 'contrast' ],
  data: () => ({
    scrollTo: 'down',
    pageInTop: true,
  }),
  computed: {
    classes() {
      return {
        'scrolling_down': this.scrollTo === 'down',
        'scrolling_up': this.scrollTo === 'up',
        'scrolling_page-top': this.pageInTop
      }
    }
  },
  mounted() {
    anime({
      targets: this.$el,
      opacity: [0, 1],
      translateY: [30, 0],
      rotate: ['-90deg', '-90deg'],
      duration: 500,
      easing: 'easeOutQuad',
    });

    window.addEventListener('scroll', this.scrollHandler);
    this.scrollHandler();
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.scrollHandler);
  },
  methods: {
    clickHandler() {
      if (!!this.currentAnim && !this.currentAnim.paused) return false;
      const scrollElement = window.document.scrollingElement || window.document.body || window.document.documentElement;

      if (this.scrollTo === 'up') {
        this.currentAnim = anime({
          targets: scrollElement,
          scrollTop: 0,
          duration: scrollElement.scrollTop * 0.5,
          easing: 'cubicBezier(.5,0,0,1)'
        });
      } else {
        this.currentAnim = anime({
          targets: scrollElement,
          scrollTop: scrollElement.scrollTop + window.innerHeight,
          duration: 750,
          easing: 'easeInOutQuart'
        });
      }
    },
    scrollHandler() {
      this.pageInTop = window.pageYOffset < 50;
      this.scrollTo = (window.innerHeight * 1.5 + window.scrollY) >= document.body.offsetHeight ? 'up' : 'down';
    },
    onLeave(el, done) {
      const tl = anime.timeline({ easing: 'easeOutQuad' });
      tl.add({
        targets: el,
        opacity: [1, 0],
        translateY: [0, 30],
        rotate: ['-90deg', '-90deg'],
        duration: 500,
      });
      tl.finished.then(done)
    },
  }
}
</script>

<style lang="scss">
.scrolling
{
  display: block;
  position: relative;

  width: 8em;
  height: 2em;

  text-align: right;
  font-weight: bold;
  cursor: pointer;
  user-select: none;

  transform: rotate(-90deg);
  transform-origin: 1em 50%;

  &__line {
    position: relative;

    height: 0.1em;
    overflow: hidden;

    background: $color-auxiliary;

    transition: opacity, transform;
    transition-duration: 0.75s;

    .scrolling_up & {
      transform: translateX(3em);
    }

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      background: $color-white;
      transition: transform 1s ease;

      transform: translateX(100%);

      animation: scrollingLineBefore 5s ease 3s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;


      .scrolling_up & {
        animation-direction: reverse;
      }
    }
  }

  &__label {
    position: absolute;
    bottom: 0;
    right: 0;

    transition: opacity, transform;
    transition-duration: 1s;
  }

  &__label-down {
    opacity: 1;
    transform: translateX(0);

    .scrolling_up & {
      opacity: 0;
      transform: translateX(8em);
    }
  }

  &__label-up {
    opacity: 0;
    transform: translateX(-8em);

    .scrolling_up & {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
@keyframes scrollingLineBefore
{
  from {
    transform: translateX(105%);
  }
  to {
    transform: translateX(-105%);
  }
}
</style>
