<template>
  <div class="layout">
    <Preloader ref="preloader"/>
    <Header />
    <div id="page" class="layout__page">
      <Nuxt v-if=""></Nuxt>
      <Footer/>
    </div>
    <div class="layout__side layout__side_right" @click="closeModals">
      <div id="right-bottom-side" class="layout__side-component">
        <component
          v-bind="sideComponents.rightBottom"
          class="side-component"
        />
      </div>
    </div>
    <div id="modals" class="layout__modals">
      <ModalOrder class="layout__modal" />
    </div>
    <Menu class="layout__menu" />

    <transition name="layout__overlay">
      <div class="layout__overlay" v-if="hasOverlay" @click="closeModals"></div>
    </transition>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex';
import { debounce } from 'throttle-debounce';
import Preloader from '~/components/Preloader';
import { preloaderInstance } from "~/components/Preloader";
import isTouch from '~/scripts/helpers/detectTouch';

import Logo from '~/components/side/Logo';
import Burger from '~/components/side/Burger';
import Scrolling from '~/components/side/Scrolling';
import ScrollingNew from '~/components/side/ScrollingNew';
import Mail from '~/components/side/Mail';
import Pagination from '~/components/side/Pagination';
import Lang from '~/components/side/Lang';
import Menu from '~/components/Menu';
import Header from '~/components/Header';
import OrderSocialBtn from '~/components/side/OrderSocialBtn';
import ModalOrder from '~/components/modals/ModalOrder';

export default {
  components: {
    Preloader,
    Logo,
    Burger,
    Scrolling,
    ScrollingNew,
    Mail,
    Header,
    Pagination,
    Menu,
    Lang,
    OrderSocialBtn,
    ModalOrder,
  },
  data: () => ({
    showPreloader: true,
  }),
  mounted() {
    if (!isTouch) document.documentElement.classList.add('no-touch');
    this.triggerAllowingOverlay();

    document.addEventListener('keyup', this.onKeyUp);
    window.addEventListener('resize', this.onResize);

    this.$refs.preloader.loaded();
  },
  beforeDestroy() {
    document.removeEventListener('keyup', this.onKeyUp);
    window.removeEventListener('resize', this.onResize);
  },
  computed: {
    ...mapState({
      sideComponents: state => state.side.components,
      menuIsOpen: state => state.menu.isOpen,
      modalsState: state => state.modals.components,
      addModalOverlay: state => state.modals.addOverlay,
    }),
    ...mapGetters({
      isModalOpen: 'modals/openedModal',
    }),
    ...preloaderInstance,
    hasOverlay() {
      return this.addModalOverlay && this.isModalOpen;
    },
    onResize() {
      return debounce(200, this.handleResize);
    },
  },
  methods: {
    ...mapMutations({
      setSideComponentProperty: 'setComponentProperty',
      closeModals: 'modals/closeAll',
      closeMenu: 'menu/close',
      disableModalOverlay: 'modals/disableOverlay',
      allowModalOverlay: 'modals/allowOverlay',
    }),
    onKeyUp(e) {
      this.handleEscapeKeyUp(e);
    },
    handleResize() {
      this.triggerAllowingOverlay();
    },
    sideComponentClasses({ contrast, side, pos }) {
      return {
        'dark-theme': contrast,
        ['side-component_' + side]: side,
        ['side-component_' + pos]: pos,
      };
    },
    handleEscapeKeyUp(e) {
      if (e.code !== 'Escape') return;

      if (this.isModalOpen) this.closeModals();
      if (this.menuIsOpen) this.closeMenu();
    },
    // trigger showing invisible overlay under modal
    // according to window width
    triggerAllowingOverlay() {
      if (window.matchMedia('(min-width: 576px)').matches) {
        this.allowModalOverlay();
      } else {
        this.disableModalOverlay();
      }
    },
  },
};
</script>

<style lang="scss">
.layout {
  $this: &;

  overflow: hidden;

  &__side {
    position: fixed;
    top: 0;
    z-index: 15;

    padding: 2rem 2rem 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 317px;
    width: percentage(2 / $grid-columns);
    height: 100%;

    font-size: 0.875em;
    color: $color-auxiliary;

    &_left {
      left: 0;
      text-align: left;
      padding-right: 0;
    }

    &_right {
      right: 0;
      text-align: right;
      padding-left: 0;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 1rem 1rem 0 1rem;
    }

    @include media-breakpoint-up(xxl) {
      padding: 3rem 3rem 0 3rem;
    }
  }

  &__side-component {
    position: relative;
    height: auto;
  }

  &__menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }

  &__modal {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;

    @include sm-min {
      top: percentage(424 / 1024);
    }

    @include lg-min {
      top: 0;
      width: percentage(8 / 12);
    }

    @include xxl-min {
      width: 50%;
    }
  }

  &__overlay {
    position: fixed;
    z-index: 14;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: opacity 0.75s $easeOutExpo;

    &-enter,
    &-leave-to {
      opacity: 0;
      transition-duration: 1s;
      transition-timing-function: $easeInExpo;
    }
  }
}
</style>
