<template>
  <div class="error-page container-fluid bg-light screen">
    <div class="error-page__bg-image"></div>
    <div class="error-page__content">
      <h4 class="h4">Ошибка 404</h4>
      <h1 class="h1">О нет!</h1>
      <div class="error-page__description">
        Вы заблудились, но не отчаивайтесь, все будет хорошо.<br />
        <span>Просто</span> <nuxt-link to="/" class="error-page__link">вернитесь на главную</nuxt-link>
      </div>
    </div>
    <Footer class="error-page-footer"></Footer>
  </div>
</template>

<script>
import Footer from '~/components/Footer'
export default {
  name: 'Error404',
  components: { Footer },
  mounted() {
    this.$store.dispatch('side/setComponents', {
      leftTop: 'Logo',
      leftCenter: 'Burger',
      leftBottom: '',
      rightTop: 'Mail',
      rightCenter: '',
      rightBottom: '',
    });
  },
}
</script>

<style lang="scss">
.error-page {
  display: flex;
  align-items: flex-start;
  padding-top: 14.125rem;
  position: relative;

  @include media-breakpoint-down(xl) {
    padding-top: 8.6rem;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding-top: 13rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 5rem;
  }

  &__bg-image {
    margin-top: 4.875rem;
    flex: 0 0 50%;
    align-self: stretch;
    background: url("/images/cat.png") no-repeat center bottom;
    background-size: contain;

    @include media-breakpoint-down(md) {
      flex: 1 1 auto;
      order: 2;
      margin-top: 6rem;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 1.5rem;
    }
  }

  &__content {
    flex: 0 0 50%;
    padding-left: $grid-gutter-width/2;

    @include media-breakpoint-down(md) {
      width: 100%;
      order: 1;
      padding-left: percentage(2/12);
      padding-right: 1rem;
    }
  }

  &__description {
    font-size: 1.5em;
    line-height: 1.5;

    @include media-breakpoint-down(xl) {
      font-size: 1.286em;
      line-height: 1.67;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.143em;
      line-height: 1.375;

      span {
        display: none;
      }
    }
  }

  &__link {
    color: $color-dark;
    font-style: normal;
    font-weight: 500;
    position: relative;
    padding-right: 2rem;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(1px);
      width: 20px;
      height: 1px;
      background-color: $color-dark;
    }
  }
}
.error-page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include media-breakpoint-down(md) {
      display: none;
  }

  .footer__copyright {
    color: $color-white;
    font-weight: normal;
  }
}
</style>
