<template>
  <div class="bg-light-themes">
    <AboutFirstScreen data-pagination-item="О нас"/>
    <template v-if="aboutPageData.length">
      <template v-for="pageSection in aboutPageData">
        <template v-if="pageSection.acf_fc_layout === 'workers'">
          <AboutTeam data-pagination-item="Команда" :team="pageSection" :small="small"/>
        </template>
        <template v-if="pageSection.acf_fc_layout === 'partnes'">
          <AboutCustomers data-pagination-item="Отрасли" :customers="pageSection" :small="small"/>
        </template>
        <template v-if="pageSection.acf_fc_layout === 'text'">
          <section class="container" v-html="pageSection.text"></section>
        </template>
        <template v-if="pageSection.acf_fc_layout === 'text_cols'">
          <AboutCompetencies :title="pageSection.title" :competencies="pageSection.coll" data-pagination-item="Компетенции"/>
        </template>
      </template>
    </template>
    <Footer/>
  </div>
</template>

<script>
import AboutFirstScreen from '~/components/sections/AboutFirstScreen';
import AboutWeDo from '~/components/sections/AboutWeDo';
import AboutCustomers from '~/components/sections/AboutCustomers';
import AboutCompetencies from '~/components/sections/AboutCompetencies';
import AboutTeam from '~/components/sections/AboutTeam';
import Footer from '~/components/Footer';

import { mapGetters } from 'vuex';

export default {
  name: 'About',
  async fetch({ store, error}) {
    try {
      await store.dispatch('about/fetchData');
    } catch (e) {
      error({ statusCode: 404 });
    }
  },
  data: () => ({
    small: false
  }),
  components: { AboutFirstScreen, AboutWeDo, AboutCustomers, AboutCompetencies, AboutTeam, Footer },
  created() {
    if (process.client) {
      window.addEventListener('resize', this.onResize);
      this.onResize();
    }
  },
  mounted() {
    this.$store.dispatch('side/setComponents', {
      leftTop: 'Logo',
      leftCenter: 'Burger',
      leftBottom: 'Scrolling',
      rightTop: 'Mail',
      rightCenter: 'Pagination',
      rightBottom: ''
    });
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener('resize', this.onResize);
    }
  },
  computed: {
    ...mapGetters({
      aboutPageData: 'about/data',
    }),
  },
  methods: {
    onResize() {
      this.small = window.innerWidth <= 575;
    }
  }
};
</script>
