<template>
  <div class="contacts-page bg-light screen">
    <div class="container">
      <div class="contacts-page__inner">
        <div class="contacts-page__content">
          <div class="contacts-page__address">
            <strong class="color-dark d-block"
              >Волгоград,<span class="d-block d-sm-none"></span>
              ул.Рабоче-Крестьянская, 9</strong
            >
            <Btn class="" href="#">посмотреть на карте</Btn>
          </div>

          <div class="contacts-page__title color-dark">
            <a href="mailto:hello@todoagency.ru">hello@todoagency.ru</a> <br />
            <a href="tel:88003008640">8 800 300-86-40</a>
          </div>

          <div class="contacts-page__form-wrap">
            <OrderForm class="contacts-page__form" />

            <Social :list="socialData" class="contacts-page__social" />
          </div>
        </div>
      </div>
    </div>
    <Footer v-if="false" class="contacts-page__footer" />
  </div>
</template>

<script>
import Btn from "~/components/Btn";
import Footer from "~/components/Footer";
import OrderForm from "~/components/forms/OrderForm";
import Social from "~/components/Social";

export default {
  name: "Contacts",
  components: {
    Btn,
    Footer,
    OrderForm,
    Social,
  },
  data() {
    return {
      socialData: [
        {
          title:
            '<span class="social-link__title">Behance</span><span class="social-link__title-sm">Behance</span>',
          href: "https://www.behance.net/todo_agency",
        },
        {
          title:
            '<span class="social-link__title">Instagram</span><span class="social-link__title-sm">Instagram</span>',
          href: "https://www.instagram.com/todo.agency/",
        },
        {
          title:
            '<span class="social-link__title">Facebook</span><span class="social-link__title-sm">Facebook</span>',
          href: "https://www.facebook.com/todoagencyru",
        },
      ],
    };
  },
  mounted() {
    this.$store.dispatch("side/setComponents", {
      leftTop: "Logo",
      leftCenter: "Burger",
      leftBottom: "",
      rightTop: "Mail",
      rightCenter: "",
      rightBottom: "",
    });
  },
};
</script>

<style lang="scss">
.scrolled > .contacts-page {
  &.screen {
    min-height: calc(100vh - 70px);
  }
}
.contacts-page {
  &.screen {
    min-height: calc(100vh - 100px);
  }
  &.bg-light {
    background-color: $color-light !important;
  }
  &__address {
    margin-bottom: rem(25);
    @include sm-max {
      font-size: rem(12);
    }
  }

  &__title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: rem(90, 16);
    line-height: rem(120, 16);
    margin-bottom: rem(35);

    a {
      color: inherit;
      font-weight: 900;
      @include sm-max {
        font-weight: 800;
      }
    }

    @include xl-max {
      font-size: rem(36);
      line-height: rem(50);
    }

    @include lg-max {
      font-size: rem(45);
    }

    @include md-max {
      font-size: rem(35);
    }

    @include sm-max {
      margin-top: 20px;
      font-size: rem(16);
      line-height: rem(28);
      text-transform: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    @include xl-min {
      padding-top: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  &__form-wrap {
    display: flex;
    flex-direction: column;

    @include xl-min {
      max-width: percentage(4 / 8);
    }
  }

  &__form {
    margin-bottom: em(40);
    order: 1;

    @include sm-min {
      order: 0;
    }
  }

  &__social {
    order: 0;
    @include sm-max {
      margin-bottom: 30px;
    }
    @include sm-min {
      order: 1;
      margin-bottom: 0;
    }
  }
}
</style>
