<template>
  <div class="home-page">
    <PromoSection />
    <div class="container container--down-md-align-right">
      <transition-group
        class="cases-page__cases"
        :class="{ 'boxx-wrap': isBox }"
        name="list-complete"
        tag="div"
      >
        <div
          class="cases-page__case list-complete item"
          :class="{ boxx: isBox }"
          v-for="item of casesList"
          :key="item._id"
          :data-pagination-item="item.title"
        >
          <div class="case-category__header">
            <CaseCard :case="item" showDescription @removeClass="falseBox" />
          </div>
          <div class="case-category__body">
            <div class="case-category__categories">
              <div
                v-for="(category, index) of item.categories"
                :key="category + index"
                class="case-category__category "
              >
                {{ category }}
              </div>
            </div>
            <div class="case-category__works">{{ item.works }}</div>
          </div>
        </div>
      </transition-group>
    </div>
    <section class="my-0">
      <div class="container cases-page__button-container">
        <nuxt-link to="/cases" class="see-all__btn"
          ><span class="nav-item">Все проекты</span></nuxt-link
        >
      </div>
    </section>
    <AboutCompetencies />
    <Footer />
  </div>
</template>

<script>
import PromoSection from "~/components/PromoSection";
import CaseCard from "~/components/CaseCard";
import AboutCompetencies from "~/components/sections/AboutCompetencies";
import Footer from "~/components/Footer";

export default {
  components: { Footer, PromoSection, CaseCard, AboutCompetencies },
  async fetch({ store, error }) {
    try {
      if (store.getters["cases/list"].length === 0)
        await store.dispatch("cases/fetchList");
    } catch (e) {
      error({ statusCode: 404 });
    }
    try {
      if (store.getters["promo/list"].length === 0)
        await store.dispatch("promo/fetchHome");
    } catch (e) {
      error({ statusCode: 404 });
    }
  },
  data() {
    return {
      isBox: true,
    };
  },
  computed: {
    casesList() {
      return this.$store.getters["cases/list"].filter(
        (item) => item["homepage"]
      );
    },
  },
  methods: {
    falseBox() {
      this.isBox = !this.isBox;
    },
  },
  mounted() {
    this.$store.dispatch("side/setComponents", {
      leftTop: "",
      leftCenter: "",
      leftBottom: "",
      rightTop: "",
      rightCenter: "",
      rightBottom: "ScrollingNew",
    });
  },
};
</script>

<style lang="scss">
.cases-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;

  @include media-breakpoint-up(lg) {
    padding-top: 10rem;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #d4cdbe;

    .swiper-container {
      margin: 0;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    justify-self: flex-end;
  }

  &__h {
    margin: 0 2rem 0.8rem 0;
  }

  &__cases {
    position: relative;
    margin: 0 -5px;
    margin-top: rem(80);

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__case {
    padding: 5px;
    padding-bottom: 55px;

    &:hover {
      .case-card__button {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(lg) {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }
}

.categories-list {
  white-space: nowrap;
  margin: 0 0 -1px;

  padding: 0;
  border-bottom: 1px solid #d4cdbe;

  &__item {
    display: inline-block;
    width: auto;
    margin: 0 25px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &:before {
      display: none;
    }
  }

  &__link {
    display: block;
    padding: 0 0 1.25rem;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.06rem;
    color: $color-auxiliary;

    &--active {
      color: $color-dark;
    }
  }
}
</style>
