<template>
  <div id="page" class="example-page">
    <section class="screen grid-example" data-pagination-item="Сетка">
      <div class="container-fluid">
        <div class="row">
          <div class="col-1">
            <div class="box">1</div>
          </div>
          <div class="col-1">
            <div class="box">2</div>
          </div>
          <div class="col-1">
            <div class="box">3</div>
          </div>
          <div class="col-1">
            <div class="box">4</div>
          </div>
          <div class="col-1">
            <div class="box">5</div>
          </div>
          <div class="col-1">
            <div class="box">6</div>
          </div>
          <div class="col-1">
            <div class="box">7</div>
          </div>
          <div class="col-1">
            <div class="box">8</div>
          </div>
          <div class="col-1">
            <div class="box">9</div>
          </div>
          <div class="col-1">
            <div class="box">10</div>
          </div>
          <div class="col-1">
            <div class="box">11</div>
          </div>
          <div class="col-1">
            <div class="box">12</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="box">
          <h2>container</h2>
        </div>
      </div>
    </section>


    <section
      class="screen typography-example bg-light"
      data-pagination-item="Типография"
    >
      <div class="container">
        <div class="color-example">
          <span class="color-example__color bg-white"></span>
          <span class="color-example__label">Белый</span>
        </div>
        <div class="color-example">
          <span class="color-example__color bg-light"></span>
          <span class="color-example__label">Светлый</span>
        </div>
        <div class="color-example">
          <span class="color-example__color bg-light-auxiliary"></span>
          <span class="color-example__label">Дополнительный светлый</span>
        </div>
        <div class="color-example">
          <span class="color-example__color bg-auxiliary"></span>
          <span class="color-example__label">Вспомогательный цвет для текста, подписией, навигации</span>
        </div>
        <div class="color-example">
          <span class="color-example__color bg-dark"></span>
          <span class="color-example__label">Темный / акцентный цвет</span>
        </div>
        <h1>Загловок 1</h1>
        <h2>Загловок 2</h2>
        <h3>Загловок 3</h3>
        <h4>Загловок 4</h4>
        <h5>Загловок 5</h5>
        <h6>Загловок 6</h6>
        <p class="nav-item">Навигация</p>
        <div class="worker">
          <span class="worker__name">Имя сотрудника</span>
          <br />
          <span class="worker__position">Должность сотрудника</span>
        </div>
        <div class="menu-item">Пункт в меню</div>
        <div class="menu-sub-item">Проекты в меню</div>
        <p>
          Пара́граф — мелкое подразделение текста внутри главы, раздела,
          обозначаемое обычно специальным знаком — § или пп. Параграфы
          используются например в правилах, наставлениях, уставах, программах и
          т. п
        </p>
        <p>
          <span class="small">
            Тег <code>&lt;small&gt;</code> уменьшает размер шрифта на единицу
            по сравнению с обычным текстом. В HTML размер шрифта измеряется в
            условных единицах от 1 до 7, средний размер текста, используемый по
            умолчанию, принят 3. Таким образом, добавление тега
            <code>&lt;small&gt;</code> уменьшает текст на одну условную единицу.
            Допускается применение вложенных тегов <code>&lt;small&gt;</code>,
            при этом размер шрифта будет меньше с каждым вложенным уровнем, но
            не может быть меньше, чем 1.</span>
        </p>
        <p>
          <span class="big">
            Тег <code>&lt;big&gt;</code> увеличивает размер шрифта на единицу
            по сравнению с обычным текстом. В HTML размер шрифта измеряется в
            условных единицах от 1 до 7, средний размер текста, используемый по
            умолчанию, принят 3. Таким образом, добавление тега
            <code>&lt;big&gt;</code> увеличивает текст на одну условную единицу.
            Допускается применение вложенных тегов <code>&lt;big&gt;</code>, при
            этом размер шрифта будет больше с каждым уровнем.
          </span>
        </p>
        <ul>
          <li>Пункт маркерованного списка 1</li>
          <li>Пункт маркерованного списка 2</li>
          <li>Пункт маркерованного списка 3</li>
          <li>Пункт маркерованного списка 4</li>
          <li>Пункт маркерованного списка 5</li>
        </ul>

        <form class="form-example">
          <FormInput
            type="email"
            label="E-mail"
            placeholder="example@mail.ru"
            v-model="inputValue"
            :required="true"
          />
          <FormInput
            type="textarea"
            label="Message"
            placeholder="Some Text"
            v-model="inputValue1"
          />

          <FormRadio name="radio-example">Радио 1</FormRadio>
          <FormRadio name="radio-example">Радио 2</FormRadio>
          <FormRadio name="radio-example">Радио 3</FormRadio>
        </form>

        <br>
        <hr>
        <br>

        <OrderForm :formFull="true" />
      </div>

      <form ref="switchSideComponentsForm" class="switch-side-components container" @submit.prevent="switchSideComponents">
        <br>
        <h2>Переключить боковые компоненты</h2>
        <hr>
        <br>
        <div>
          <p v-for="(val, key) in sideComponents" :key="key">
            <label style="width: 100px; display: inline-block" :for="'select-' + key">{{ key }}:</label>
            <select :id="'select-' + key" :name="key" v-model="sideComponents[key]">
              <option v-for="(name, i) in sideComponentsList" :key="i">{{ name }}</option>
            </select>
          </p>
        </div>
        <button type="submit">Переключить</button>
      </form>
    </section>



    <section class="example-easing-section container" data-pagination-item="Функции плавноси">
      <div class="example-easing">
        <span class="example-easing__title">easeSmooth</span>
        <span class="example-easing__range easeSmooth"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeCustom</span>
        <span class="example-easing__range easeCustom"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">snap</span>
        <span class="example-easing__range snap"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutCubic</span>
        <span class="example-easing__range easeOutCubic"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutCubic</span>
        <span class="example-easing__range easeInOutCubic"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInCirc</span>
        <span class="example-easing__range easeInCirc"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutCirc</span>
        <span class="example-easing__range easeOutCirc"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutCirc</span>
        <span class="example-easing__range easeInOutCirc"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInExpo</span>
        <span class="example-easing__range easeInExpo"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutExpo</span>
        <span class="example-easing__range easeOutExpo"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutExpo</span>
        <span class="example-easing__range easeInOutExpo"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInQuad</span>
        <span class="example-easing__range easeInQuad"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutQuad</span>
        <span class="example-easing__range easeOutQuad"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutQuad</span>
        <span class="example-easing__range easeInOutQuad"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInQuart</span>
        <span class="example-easing__range easeInQuart"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutQuart</span>
        <span class="example-easing__range easeOutQuart"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutQuart</span>
        <span class="example-easing__range easeInOutQuart"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInQuint</span>
        <span class="example-easing__range easeInQuint"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutQuint</span>
        <span class="example-easing__range easeOutQuint"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutQuint</span>
        <span class="example-easing__range easeInOutQuint"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInSine</span>
        <span class="example-easing__range easeInSine"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutSine</span>
        <span class="example-easing__range easeOutSine"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutSine</span>
        <span class="example-easing__range easeInOutSine"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInBack</span>
        <span class="example-easing__range easeInBack"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeOutBack</span>
        <span class="example-easing__range easeOutBack"></span>
      </div>
      <div class="example-easing">
        <span class="example-easing__title">easeInOutBack</span>
        <span class="example-easing__range easeInOutBack"></span>
      </div>
    </section>

    <section class="example-dark-section" data-pagination-item="Контрастные секции">
      <div class="screen container">
        <div class="row screen align-items-center">
          <h1>White screen</h1>
        </div>
      </div>
      <DarkSection class="bg-dark">
        <div class="container">
          <div class="row screen align-items-center">
            <h1>Dark screen</h1>
          </div>
        </div>
      </DarkSection>
      <div class="screen container">
        <div class="row screen align-items-center">
          <h1>White screen again</h1>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import FormInput   from "~/components/forms/FormInput";
import FirstScreen from "~/components/FirstScreen";
import DarkSection from "~/components/DarkSection";
import OrderForm   from '~/components/forms/OrderForm';
import FormRadio   from '~/components/forms/FormRadio'
import CaseCard from "../components/CaseCard";

export default {
  name: "Index",
  components: { CaseCard, FormRadio, DarkSection, FirstScreen, FormInput, OrderForm },
  data: () => ({
    inputValue: null,
    inputValue1: null,
    sideComponents: {},
  }),
  computed: {
    sideComponentsList() {
      return this.$store.state.side.availableComponents;
    },
  },
  mounted() {
    this.$store.dispatch('side/setComponents', {
      leftTop:     'Logo',
      leftCenter:  'Burger',
      leftBottom:  'Scrolling',
      rightTop:    'Mail',
      rightCenter: 'Pagination',
      rightBottom: 'OrderSocialBtn'
    });

    this.sideComponents = this.$store.getters["side/components"];
  },
  methods: {
    switchSideComponents(e) {
      this.$store.dispatch('side/setComponents', this.sideComponents);
    },
  }
};
</script>

<style lang="scss">
.example-page {
  .grid-example {
    position: relative;

    * {
      outline: 1px solid rgba(0, 200, 200, 0.3);
      background: rgba(200, 186, 67, 0.1);
    }

    .container-fluid {
      position: absolute;
      z-index: -1;
    }

    .container {
      background: rgba(255, 69, 164, 0.4);
    }

    .box {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }
}

.typography-example {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.example-case-card {
  padding: 10rem 0 20rem;
}

.color-example {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  &__color {
    display: inline-block;

    width: 2.5rem;
    height: 2.5rem;
    flex: 0 0 2.5rem;

    border: 0.06rem solid #222;
    border-radius: 100%;
  }

  &__label {
    display: inline-block;
    padding-left: 1rem;
    font-weight: 600;
    line-height: 1.2;
  }
}

.form-example {
  padding: 2rem 0;
}

.example-easing {
  position: relative;
  width: 100%;
  margin: 1rem 0;

  font-weight: bold;
  border: 1px solid $color-dark;

  span {
    border: 1px solid $color-dark;
    width: 150px;
    height: 35px;
  }

  &__title {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
  }

  &__range {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-dark;
    transition: 1.5s left;
  }

  &:hover &__range {
    left: calc(100% - 150px);
  }
}
</style>
