<template>
  <transition
    name="modal"
    @enter="onEnter"
    @after-enter="onAfterEnter"
    @leave="onLeave"
    @after-leave="onAfterLeave"
  >
    <div class="modal" v-if="modalIsOpen">
      <div class="modal__inner">
        <div class="modal__top modal-top">
          <a class="modal-top__link" href="mailto:hello@todoagency.ru">hello@todoagency.ru</a>
          <a class="modal-top__link" href="tel:+79061719757">+7(906) 171-97-57</a>
        </div>

        <button class="modal__close close" @click="closeModal.call(null, 'order')"></button>

        <h3 class="h3 modal__title">Хотите работать с нами?</h3>

        <OrderForm class="modal__form" :formFull="true" />
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import OrderForm from '~/components/forms/OrderForm';
import { preventScroll, allowScroll } from '~/scripts/setBodyScroll';

export default {
  name: 'ModalOrder',
  components: {
    OrderForm,
  },
  computed: {
    ...mapState({
      modalIsOpen: state => state.modals.components.order.isOpen,
      menuIsOpen: state => state.menu.isOpen,
    }),
  },
  methods: {
    ...mapMutations({
      closeModal: 'modals/close',
      closeMenu: 'menu/close',
    }),
    onCloseBtnClick(e) {
      this.closeModal('order');
    },
    onEnter() {
      if (this.menuIsOpen) this.closeMenu();
      if (!this.menuIsOpen) preventScroll();
    },
    onAfterEnter() {
      this.lastSideComponents = this.$store.getters['side/components'];
      this.$store.dispatch('side/setComponents', {
        ...this.lastSideComponents,
        leftBottom: '',
      });
    },
    onLeave() {
      this.$store.dispatch('side/setComponents', this.lastSideComponents);
    },
    onAfterLeave() {
      if (!this.menuIsOpen) allowScroll();
    },
  },
};
</script>

<style lang="scss">
.modal {
  display: block;
  overflow: auto;
  background-color: $white;
  transition: transform 0.75s $easeOutExpo;

  padding: rem(50) rem(20) rem(30);

  @include sm-min {
    padding: rem(51) 0;
  }

  @include lg-min {
    padding: rem(30) 0 rem(80);
  }

  @include xxl-min {
    padding: rem(50, 16) 0 rem(30, 16);
  }

  &__top {
    display: none;

    @include lg-min {
      display: block;
      margin-bottom: rem(97);
    }

    @include xxl-min {
      margin-bottom: percentage(273 / 1080);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: rem(40);
  }

  &__close {
    position: absolute;
    z-index: 1;
    top: rem(20);
    right: rem(20);

    @include sm-min {
      top: rem(30);
      right: rem(20);
    }

    @include xxl-min {
      top: rem(50, 16);
      right: rem(50, 16);
    }
  }

  &__inner {
    @include sm-min {
      max-width: percentage(10 / 12);
      margin-left: auto;
      margin-right: auto;
    }

    @include lg-min {
      max-width: percentage(6 / 8);
    }

    @include xxl-min {
      max-width: percentage(4 / 6);
    }
  }

  &-enter,
  &-leave-to {
    transform: translateX(101%);
    transition-timing-function: $easeInExpo;
  }
}

.modal-top {
  font-size: em(12);

  &__link {
    display: inline-block;
    width: percentage(2 / 6);
    padding-right: 10px;
  }
}
</style>
