<template>
  <div class="case-page" :style="style">
    <div class="case-page__header">
      <component :is="item.light ? 'div' : 'DarkSection'">
        <CaseCard :case="item" :full="true" />
      </component>
      <div v-if="item.link" class="case-page__link">
        <a :href="item.link" target="_blank"><LinkSVG /></a>
      </div>
    </div>
    <article class="case-page__article" v-html="article"></article>
    <want-same/>
    <div class="bg-light">
      <div class="case-page__next">
        <div class="container">
          <div class="row">
            <div class="cases-page__case col-lg-6"
                 v-for="item of nextCases"
                 :key="item._id"
                 :data-pagination-item="item.title"
            >
              <div class="case-category__header">
                <CaseCard :case="item" showDescription />
              </div>
              <div class="case-category__body">
                <div class="case-category__categories">
                  <div v-for="category of item.categories" class="case-category__category ">{{ category }}</div>
                </div>
                <div class="case-category__works">{{ item.works }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Footer/>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

import CaseCard    from "~/components/CaseCard";
import DarkSection from "~/components/DarkSection";
import LinkSVG     from "~/components/svg/LinkSVG";
import Footer from "~/components/Footer";
import WantSame from "~/components/want-same";

export default {
  components: {WantSame, Footer, DarkSection, CaseCard, LinkSVG },
  async fetch({ store, error, params }) {
    try {
      if (store.getters['cases/list'].length === 0) await store.dispatch('cases/fetchList');
      const item = store.getters['cases/itemByAlias'](params.alias);
      if(!item) throw '404'
      if (!store.getters['cases/contentById'](item._id)) await store.dispatch('cases/fetchContent', item._id);
    } catch (e) {
      error({ statusCode: 404 });
    }
  },
  data() {
    return {
      style: {}
    }
  },
  computed: {
    alias () {
      return this.$route.params.alias || '';
    },
    item() {
      return this.$store.getters['cases/itemByAlias'](this.alias);
    },
    casesList() {
      return this.$store.getters['cases/list'].filter(item => !item.force);
    },
    article() {
      return this.$store.getters['cases/contentById'](this.item._id);
    },
    nextCases() {
      const currentIndex = this.casesList.findIndex(({ _id }) => this.item._id == _id)
      const nextIndex = (currentIndex + 1) < this.casesList.length ? currentIndex + 1 : 0;
      const nextIndexPlus = (nextIndex + 1) < this.casesList.length ? nextIndex + 1 : 0;
      return this.casesList.filter((item, index) => nextIndex === index || nextIndexPlus === index);
    }
  },
  mounted() {
    this.$store.dispatch('menu/toggleColor', null);
    this.style = { backgroundColor: this.item.pageBg || false };
    this.$store.dispatch('side/setComponents', {
      leftTop: 'Logo',
      leftCenter: 'Burger',
      leftBottom: 'Scrolling',
      rightTop: 'Mail',
      rightCenter: '',
      rightBottom: ''
    });
  },
}
</script>

<style lang="scss">
.case-page {
  transition: background 0.5s ease;

  &__link {
    position: relative;
    padding-top: 30px;
    font-size: 60px;
    text-align: center;
    animation: fadeInUp 0.75s ease;

    a {
      display: block;
    }

    @include media-breakpoint-down(md) {
      margin-top: -100px;
      margin-bottom: 100px;
      padding: 0;
      font-size: 50px;
      svg {
        stroke: $white;
      }
    }
  }

  &__article {
    animation: fadeIn 0.5s ease 0.2s;
    animation-fill-mode: both;
  }

  &__next {
    padding: 5rem 0;
    //background: $color-white;
  }
}
</style>
