<template>
  <div class="cases-page bg-light screen">
    <div class="cases-page__content container container--down-md-align-right">
      <div class="cases-page__header">
        <h2 class="cases-page__h">Проекты</h2>
        <div v-swiper:categoriesListSwiper="swiperOption">
          <div class="categories-list swiper-wrapper">
            <div
              class="categories-list__item swiper-slide"
              :key="alias"
              v-for="({ alias, title }, index) in categories"
            >
              <a
                :href="`#${alias}`"
                class="categories-list__link"
                :class="{
                  'categories-list__link--active': $route.hash === `#${alias}`,
                }"
                @click="filterHandler(index)"
                >{{ title }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <transition-group
        class="cases-page__cases"
        :class="{ 'boxx-wrap': isBox }"
        name="list-complete"
        tag="div"
      >
        <div
          class="cases-page__case list-complete-item"
          :class="{ boxx: isBox, animated: isAnimated }"
          v-for="item of casesList"
          :key="item._id"
          :data-pagination-item="item.title"
        >
          <div class="case-category__header">
            <CaseCard :case="item" showDescription @removeClass="falseBox" />
          </div>
          <div class="case-category__body">
            <div class="case-category__categories">
              <div
                v-for="category of item.categories"
                class="case-category__category "
              >
                {{ category }}
              </div>
            </div>
            <div class="case-category__works">{{ item.works }}</div>
          </div>
        </div>
      </transition-group>
    </div>
    <Footer class="cases-page__footer" />
  </div>
</template>

<script>
import CaseCard from "~/components/CaseCard";
import translite from "~/scripts/helpers/translite";
import Footer from "~/components/Footer";

export default {
  async fetch({ store, error }) {
    try {
      if (store.getters["cases/list"].length === 0)
        await store.dispatch("cases/fetchList");
    } catch (e) {
      error({ statusCode: 404 });
    }
  },
  components: { Footer, CaseCard },
  computed: {
    swiperOption() {
      return {
        slidesPerView: "auto",
      };
    },
    casesList() {
      const hash = this.$route.hash;
      return this.$store.getters["cases/list"].filter((item) => {
        if (hash === "#all") return true;

        for (let category of item.categories) {
          const categoryHash = `#${translite(category)}`;
          if (hash === categoryHash) return true;
        }

        return false;
      });
    },
    allCategories() {
      return this.$store.getters["cases/allCategories"];
    },
    categories() {
      return [
        { title: "Все работы", alias: "all" },
        ...this.allCategories.map((title) => ({
          title,
          alias: translite(title),
        })),
      ];
    },
  },
  data() {
    return {
      isBox: true,
      isAnimated: false,
    };
  },
  mounted() {
    if (!this.$route.hash) this.$router.replace({ hash: "#all" });
    this.$store.dispatch("side/setComponents", {
      leftTop: "Logo",
      leftCenter: "Burger",
      leftBottom: "Scrolling",
      rightTop: "Mail",
      rightCenter: "Pagination",
      rightBottom: "",
    });
  },
  methods: {
    filterHandler(index) {
      this.falseAnimated();
      this.categoriesListSwiper.slideTo(index);
    },
    falseBox() {
      this.isBox = !this.isBox;
    },
    toggleAnimated() {
      this.isAnimated = !this.isAnimated;
    },
    falseAnimated() {
      this.toggleAnimated();
      setTimeout(() => {
        this.toggleAnimated();
      }, 1000);
    },
  },
};
</script>

<style lang="scss">
.cases-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2rem;

  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #d4cdbe;

    .swiper-container {
      margin: 0;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    justify-self: flex-end;
  }

  &__h {
    margin: 0 2rem 1.4rem 0;
  }

  &__cases {
    position: relative;
    margin: 0 -5px;
    margin-top: rem(40);

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__case {
    padding: 5px;
    padding-bottom: 55px;

    &:hover {
      .case-card__button {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(lg) {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}

.categories-list {
  white-space: nowrap;
  margin: 0 0 -1px;

  padding: 0;
  border-bottom: 1px solid #d4cdbe;

  &__item {
    display: inline-block;
    width: auto;
    margin: 0 25px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &:before {
      display: none;
    }
  }

  &__link {
    display: block;
    padding: 0 0 1.25rem;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.06rem;
    color: $color-auxiliary;

    &--active {
      color: $color-dark;
    }
  }
}
</style>
