<template>
  <label class="form-radio">
    <input
      type="radio"
      class="form-radio__input"
      :class="inputMod"
      :name="name"
      :checked="checked"
      :value="value"
      @change="onChangeHandler"
    />
    <span :class="labelMod" class="form-radio__label"><slot></slot></span>
  </label>
</template>

<script>
export default {
  name: 'FormRadio',
  props: {
    name: {
      type: String,
      required: true
    },
    checked: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    labelMod: {
      type: String,
      default: ''
    },
    inputMod: {
      type: String,
      default: ''
    },
  },
  methods: {
    onChangeHandler(e) {
      this.$emit('change', e)
    }
  }
}
</script>

<style lang="scss">
.form-radio {
  $this: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: $color-auxiliary;


  position: relative;
  overflow: hidden;

  user-select: none;
  cursor: pointer;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -10;
    pointer-events: none;
  }

  &__input {
    &:checked + #{$this}__label {
      &::before {
        display: block;
      }
    }
  }

  &__label {
    position: relative;
    z-index: 1;

    font-size: em(12);
    font-weight: 700;
    line-height: 1.25;
    padding: rem(10) rem(20);

    border: 1px solid $color-light-auxiliary;

    @include xxl-min {
      font-size: em(14, 16);
      padding: rem(10, 16) rem(20, 16)
    }

    &::before {
      content: '';

      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      z-index: -1;

      background-color: $color-light-auxiliary;

      display: none;
    }
  }
}
</style>
